@font-face{
  font-family:Dark Magic;
  src:url(https://rockeydoggy.github.io/cssfonts/Vintage%20Book/DarkMagic%20Free%20Trial.ttf);
}
@font-face{
  font-family:Modern M;
  src:url(https://rockeydoggy.github.io/cssfonts/Modern/modern%20M.ttf);
}
@font-face{
  font-family:FormmatingIcons;
  src:url(https://rockeydoggy.github.io/cssfonts/Fools%20Writter%20Project/BookWritterFontFormmating.ttf);
}
@font-face{
  font-family:Scriptorium;
  src:url(https://rockeydoggy.github.io/cssfonts/Fools%20Writter%20Project/For%20Title%20Fonts/Scriptorium.ttf);
}
@font-face{
  font-family:hkh glyphs short;
  src:url(https://rockeydoggy.github.io/cssfonts/Fools%20Writter%20Project/For%20Title%20Fonts/HKH%20Old%20Glyphs%20short.ttf);
}
@font-face{
  font-family:Steam Punk Flyer;
  src:url(https://rockeydoggy.github.io/cssfonts/Fools%20Writter%20Project/For%20Title%20Fonts/Steam%20Punk%20Flyer.ttf);
}
@font-face{
  font-family:The Old Forest;
  src:url(https://rockeydoggy.github.io/cssfonts/Fools%20Writter%20Project/For%20Title%20Fonts/The%20Old%20Forest%20Demo.ttf);
}
@font-face{
  font-family:Comfortaa;
  src:url(https://rockeydoggy.github.io/cssfonts/Fools%20Writter%20Project/For%20Title%20Fonts/Comfortaa-Regular.ttf);
}
@font-face{
  font-family:SansSerif;
  src:url(https://rockeydoggy.github.io/cssfonts/Fools%20Writter%20Project/For%20Title%20Fonts/SansSerifBookFLF.otf);
}
@font-face{
  font-family:LilitaOne;
  src:url(https://rockeydoggy.github.io/cssfonts/Fools%20Writter%20Project/For%20Title%20Fonts/LilitaOne-Regular.ttf);
}
@font-face{
  font-family:Calibri;
  src:url(https://rockeydoggy.github.io/cssfonts/Fools%20Writter%20Project/Default%20Fonts/Calibri.ttf);
}
@font-face{
  font-family:EnterCommand;
  src:url(https://rockeydoggy.github.io/cssfonts/EnterCommand/EnterCommand.ttf);
}

:root{
  --FileFont:Arial;
  --createBackground:#908580;
  --LobbyDisplay:flex;
  --ColorSavedBox:0vw;/*9vw*/
  --ColorSavedWidth:0vw;/*10.3vw*/
/*   --TextHighlightedColor:#AAA; */
/*   --TextHighlightedBackground:#111; */
  --WarningDisplay:none;
  --PageIndex:'0';
  --SelectedPageColor:#396;
  --editorFocusColor:solid 0.2vw #E94;
  --editorLightColor:#E94;
  --waitBeforeKill:wait;
  --PaginaDeMarcacoes:none;
  --CloseTabsActivated:none;
  --warningTypeColor:#555;
  --RotationVisibility:rotateX(90deg);
  --WarningTopVisibility:-2vw;
}

body{
  background:#080808;
  color:#FFF;
  padding:0;
  display:flex;
/*   align-items:center; */
  justify-content:center;
  overflow:hidden;
}
body::-webkit-scrollbar{
  width:0.5vw;
  background:#99F8;
}
body::-webkit-scrollbar-thumb{
  background:#222;
}

fieldset{
  padding:none;
  border:none;
  margin:0;
  z-index:10;
  pointer-events:none;
}
#editor{
  width:60vw;
  min-height:50em;
  padding:0.6vw;
	margin:3vw 0 0 0;
  background:var(--PageBGColor, #EEE);
/*   background-image:var(--PageBG, none); */
  color:#222;
  font-family:var(--FileFont);
  font-size:1.33vw;
  pointer-events:auto;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#editor:focus{
  outline:0.1vw solid var(--editorLightColor) !important;
  box-shadow:inset 0 0 0.6vw var(--editorLightColor), 0 0 0.6vw var(--editorLightColor);
}
#editor h1{
  margin:0vw;
  text-align:center;
  font-family:Dark Magic;
  font-weight:lighter;
  letter-spacing:0.1vw;
  font-size:3.7vw;
/*   mix-blend-mode:luminosity; */
}
#editor h2{
  margin:0;
  text-align:center;
  font-family:Modern M;
  font-weight:lighter;
  font-size:2.3vw;
}
#editor h3{
  margin:0;
  text-align:center;
  font-family:Scriptorium;
  font-weight:lighter;
  font-size:2.1vw;
}
#editor h4{
  margin:0;
  text-align:center;
  font-family:HKH Glyphs Short;
  font-weight:lighter;
  font-size:2.7vw;
}
#editor h5{
  margin:0;
  text-align:center;
  font-family:Steam Punk Flyer !important;
  font-weight:lighter;
  font-size:2.2vw;
  letter-spacing:0.4vw;
}
#editor h6{
  margin:0;
  text-align:center;
  font-family:The Old Forest;
  font-weight:lighter;
  font-size:3.6vw;
}
#editor ::selection{
  color:var(--TextHighlightedColor, #555);
  text-shadow:0 0 0.05vw #0F02;
  background:var(--TextHighlightedBackground, #3335);
/*   background-color:var(--TextHighlightedBackground); */
}

#editor p{
  margin:0;
  padding:0;
}
#editor img{
  max-width:60vw;
  opacity:0.9;
  z-index:1;
}

#FontFormatting{
  width:60vw;
  margin:0;
  position:fixed;
  top:0;
  text-align:center;
  pointer-events:none;
  background:#6698;
  backdrop-filter:blur(0.3vw);
  z-index:10;
  box-shadow:0.2vw 0.2vw 0.7vw -0.3vw #000;
/*   border-radius:5px 5px 0px 0px; */
}
#FontFormatting button{
  cursor:pointer;
  pointer-events:auto;
  font-size:1.5vw;
  vertical-align:bottom;
  border:none;
/*   line-height:0.9vw; */
  padding:0.4vw 0.7vw;
  font-family:FormmatingIcons, Calibri;
}
#FontFormatting button:focus{
  box-shadow:inset 0 0 0.5vw #000;
}
#FontFormatting input{
  width:14vw;
  background:none;
  cursor:pointer;
  color:#FFF;
  pointer-events:auto;
  font-size:0.8vw;
  line-height:0.5vw;
  padding:0.4vw 0.3vw;
  border:none;
  box-shadow:inset 0.0vw 0.0vw 0.3vw #000;
  cursor:text;
}

#ManageFiles{
  position:absolute;
  max-width:3vw;
  max-height:100vh;
/*   border:dotted 0.1vw #F00; */
  background:#446E;
  backdrop-filter:blur(0.3vw);
  box-shadow:-0.1vw -0.1vw 0.3vw #000;
  left:-3vw;
  margin:-0.45vw 0;
  text-align:center;
  transition:all ease-in-out 0.2s;
}
#ManageFiles button{
  margin:0.5vw 0;
  border-radius:0.25vw;
}
#FontFormatting input:focus{
  background:#333;
}

#HistoryPersonalEdit{
/*   width:100%; */
  background:#6696;
  position:sticky;
  bottom:0.5vw;
  margin:50vh 0 0 0;
  padding:0.4vw 0.8vw;
  border:none;
  opacity:0.5;
  font-size:1.5vw;
  font-family:Modern M;
  color:#FFF;
  cursor:pointer;
  transition:all ease-in-out 0.2s;
}

#saveFile{
/*   float:left; */
  padding:0.3vw 0.4vw !important;
}
#saveFile::before{
  font-size:1.9vw;
  content:'b';
}
#downloadFile{
/*   float:left; */
/*   margin:0 0vw 0 0.5vw; */
  padding:0.2vw 0.3vw !important;
  background:#111;
  font-size:1.9vw !important;
  color:#FFF;
}
#saveOnPc, #openOnPc{
/*   float:left; */
/*   margin:0 0vw 0 0.5vw; */
  padding:0.2vw 0.3vw !important;
  background:#111;
  font-size:1.9vw !important;
  font-family:FormmatingIcons;
  color:#FFF;
  cursor:pointer;
}
#oop[type=file]{
  display:none;
}

#downloadFile::before{
  content:'r';
  font-size:1.9vw;
}
#saveOnPc::before{
  content:'t';
}
#openOnPc::before{
  content:'w';
}
#printThis{
/*   float:left; */
/*   margin:0 -50vw 0 0.5vw; */
  padding:0.2vw 0.3vw !important;
  color:#FFF;
  background:#111;
}
#printThis::before{
  content:'s';
  font-size:1.9vw;
}

#ManageFiles button:active{
  box-shadow:inset 0 0 0.4vw #000;
  color:#555;
  transition:all ease-in-out 0.05s;
}

#BackToLobby{
  float:right;
  padding:0.2vw 0.3vw !important;
}
#BackToLobby::before{
  font-size:1.9vw;
  content:'m';
}
#ItalicBtn{
/*   margin:0 -0vw 0 -6.5vw !important; */
}
#ItalicBtn::before{
  content:'h';
}
#BoldBtn::before{
  content:'d';
}
#UnderlineBtn::before{
  content:'i';
}
#TitleBtn::before{
  content:'c';
}
#SubBtn::before{
  content:'c';
  font-size:16px !important;
}
#AlignLeft::before{
  content:'e';
}
#AlignCenter::before{
  content:'f';
}
#AlignRight::before{
  content:'g';
}
#imageSend::before{
  content:'a';
}
#FontSize{
  padding:0.15vw 0vw !important;
  line-height:1.95vw;
  font-family:calibri;
  overflow:hidden;
}

#FontSize::before{
/*   content:'j'; */
  opacity:0.2;
  pointer-events:none;
}
#ResetForm::before{
  content:'k';
}
#FontSize{
  width:2.5vw;
/*   height:2.5vw; */
  font-family:Trebuchet MS;
  white-space:nowrap;
}

/*Text Color*/
#TextColor{
  width:2.5vw !important;
  height:2.2vw !important;
  padding:0 !important;
  vertical-align: sub;
  cursor:pointer !important;
}

#TextColor[type=color]{
	-webkit-appearance: none;
}

/*Color Saved*/
#SavedColors{
  padding:0.5vw 0.2vw !important;
  margin:0 0vw 0 -0.2vw!important;
  font-size:1vw !important;
  font-family:Trebuchet MS !important;
  border:none;
  background:#0004;
  color:#FFF;
}

#ListOfColor{
  max-width:10.6vw;
  max-height:0vw;
  position:absolute;
  margin:2vw 0vw 0 -3.6vw;
  text-align:left;
  border:solid 0vw #555;
  background:#EEEC;
  overflow:auto;
  pointer-events:auto;
  transition:all ease-in-out 0.1s;
}
#ListOfColor::-webkit-scrollbar{
  width:0.3vw;
  background:#000;
}
#ListOfColor::-webkit-scrollbar-thumb{
  background:#FFF;
}
#ListOfColor button{
  width:1vw;
  padding-top:1.1vw;
  margin:0.2vw 0.1vw;
  border:0.1vw #000 solid;
  border-radius:1vw;
}

#sizeOp{
  width:2.7vw;
  max-height:0px;
  position:absolute;
  overflow-x:hidden;
  overflow-y:auto;
  top:2.55vw;
  margin-left:-3.1vw;
  transition:all linear 0.05s;
  border:dashed 0.01vw #779;
  border-top:none;
  padding:0;
  box-shadow:0.3vw 0.2vw 0.25vw #0008;
  pointer-events:auto;
}
#sizeOp::-webkit-scrollbar{
  width:0.4vw;
  background:#000;
}
#sizeOp::-webkit-scrollbar-thumb{
  background:#FFF;
}
#sizeOp button{
  width:100%;
  font-size:1.2vw;
  font-family:trebuchet ms;
  padding:0.4vw 0.1vw;
  border:none;
  transition:all linear 0.1s;
  margin:0;
}
#sizeOp button:hover{
  background:#88F;
}
#addSize{
  width:100%;
  border-top:solid 0.1vw #111;
  overflow:hidden;
}


#fontList{
  width:15vw;
  max-height:0vw;
  position:absolute;
  margin-top:2.1vw;
  margin-left:-2.7vw;
  overflow:auto;
  background:#EEE;
  pointer-events:auto;
  transition:all linear 0.05s;
  box-shadow:0.4vw 0.3vw 0.3vw #0008;
}
#fontList::-webkit-scrollbar{
  width:0.4vw;
  background:#99F9;
}
#fontList::-webkit-scrollbar-thumb{
  background:#222;
}

#fontList button{
  width:100%;
  font-size:1.2em;
  white-space:nowrap;
  background:none;
  border:none;
  border-top:1px #000 solid;
  transition:ease-in-out 0.1s all;
}
#fontList button:hover{
  background:#112;
  color:#EEE;
}
#fontList p{
  margin:0;
  text-align:right;
  color:#555;
  text-shadow:0.1vw 0.1vw 0.5vw #0004;
  background:#FFF;
  font-family:Calibri;
  font-size:1.3vw;
}
.mSize{
  font-size:1.7vw !important;
}
.lSize{
  font-size:2vw !important;
}
.defFont{
  font-size:1.2vw !important;
}
#DarkMagic{
  font-family:Dark Magic !important;
  letter-spacing:0.1vw;
  display:block;
  font-size:2.4vw !important;
}
#ModernM{
  font-family:Modern M !important;
  display:block;
  font-size:1.7vw !important;
}
#Scriptor{
  font-family:Scriptorium !important;
  display:block;
  font-size:1.8vw !important;
}
#HelveticaFont{
  font-family:Helvetica !important;
}
#VerdanaFont{
  font-family:Verdana !important;
}
#TrebuchetMSFont{
  font-family:Trebuchet MS !important;
}
#AgencyFBFont{
  font-family:Agency FB !important;
}
#CalibriFont{
  font-family:Calibri !important;
}
#TimesRomanFont{
  font-family:Times New Roman !important;
}
#HKHGlyphsShort{
  font-family:HKH Glyphs Short !important;
  font-size:1vw !important;
}
#SteamPunkFlyer{
  font-family:Steam Punk Flyer !important;
  font-size:1.3vw !important;
}
#TheOldForest{
  font-family:The Old Forest !important;
  font-size:1.9vw !important;
}

/********/

#textEditPage{
  margin:-0.7vw 0 0 0;
/*   display:none; */
}


/*File Set*/
#fileSet{
  width:97%;
  position:fixed;
  bottom:0;
  text-align:right;
  pointer-events:none;
  z-index:50;
}

#fileSet div{
  display:inline;
}
#fileSet input{
  background:none;
  margin:0 0vw 0 1vw;
  border:none;
  color:#888;
  text-overflow: ellipsis;
  pointer-events:auto;
}
#fileSet input:focus{
  background:#FFD;
}
#user{
  text-align:center;
}
#bookName{
  text-align:right;
}
#TutoMode[type=checkbox]{
  display:none;
}
.TutoStyleButton{
  margin:0.2vw 0.4vw;
  padding:0vw 0.45vw;
  display:inline-block;
  transform: rotate(45deg);
  background:#0005;
  border:0.1vw solid #999;
  border-radius:0.4vw;
  font-size:1.7vw;
  font-family:Courier New;
  font-weight:lighter;
  text-shadow:-0.02vw -0.02vw 0.02vw #000;
  color:#777;
  opacity:0.3;
  cursor:pointer;
  pointer-events:auto;
  transition:all ease-in-out 0.2s;
}
.TutoStyleButton::before{
  content:'?';
  display:inline-block;
  transform:rotate(-45deg);
}
#TutoMode[type=checkbox]:checked+.TutoStyleButton{
  opacity:1;
  color:#030;
  background:#9F99;
  border-color:transparent;
  font-weight:bold;
  text-shadow:-0.02vw -0.02vw 0.02vw #AFA, 0.02vw 0.02vw 0.02vw #9F9;
  box-shadow:inset 0 0 0.6vw #0F0, 0 0 0.4vw #0F0;
}


#quem{
  width:13vw;
  padding-right:1vw;
  float:left;
  text-align:center;
  font-size:1.5vw;
  font-family:Calibri;
  text-shadow:0.05vw 0.05vw 0.1vw #000;
}
#bookName span{
  font-family:Calibri;
  font-size:1.5vw;
  color:#AAA;
  text-shadow:0.1vw 0.1vw 0.1vw #000;
}

#PageNav{
  width:100%;
  background:#558;
  text-align:center;
  padding:0.5vw 0;
  font-size:1.3vw;
  font-family:Helvetica;
  font-weight:lighter;
  select-event:none;
  user-select:none;
}
#PageNav button{
  cursor:pointer;
  font-family:Trebuchet MS;
  font-size:1.5vw;
  margin:0.2vw;
  border:none;
  pointer-events:auto;
}
#PageNav p{
  max-width:40vw;
  margin:0;
  padding:0vw 0 0vw 0vw;
  background:none;
  color:#FFF;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align:center;
  font-size:1.4vw;
  display:inline-block;
  vertical-align:text-top;
}
#PrevButton{
  border-radius:0.8vw 0px 0px 0.8vw;
  border:none;
  pointer-events:var(--Playble, none);
}
#NextButton{
  border-radius:0px 0.8vw 0.8vw 0px;
  border:none;
  pointer-events:var(--Playble, none);
}
#NextButton:disabled, #PrevButton:disabled{
  cursor:default;
}

/*Botão de criar pagina nova*/
#CreatePageButton{
  font-family:FormmatingIcons !important;
  padding:0.25vw 0.5vw;
  border-radius:0.5vw;
  background-image:linear-gradient(20deg, #123, #213);
  color:#FFF;
  transition:all ease-in-out 0.2s;
}
#CreatePageButton:hover{
  color:#AFA;
  text-shadow:0 0 0.5vw #0F0;
  box-shadow:inset 0 0 0.5vw #0F0, 0 0 0.5vw #0F0;
}
#CreatePageButton:focus{
  color:#222;
  box-shadow:inset 0.1vw 0.1vw 0.3vw #000;
  text-shadow:none;
  background-image:linear-gradient(25deg, #9AF, #A9F);
}

.sel{
  background-image:var(--SelectedPageColor) !important;
}
.visivel{
  opacity:1 !important;
  pointer-events:auto !important;
}
.inct{
  pointer-events:none !important;
  display:none;
}

/*InfBar*/
#charLength{
  margin:0.25vw 1.5vw;
  background:#EEE;
  padding:0.2vw 0.3vw;
  font-family:Verdana;
  font-size:1.2vw;
  color:var(--CharCountColor, #333);
  text-shadow:var(--CharCountLight, 0 0 0.8vw #000);
  box-shadow:inset 0.1vw 0.1vw 0.3vw #000A;
  position:absolute;
  cursor:help;
  pointer-events:auto;
}

#markField{
  width:100%;
  height:100%;
  position:fixed;
  top:2vw;
  display:flex;
  align-items:center;
/*   justify-content:center; */
  pointer-events:none;
}


/* Page Details  */
#PageInfo{
  width:18vw;
  max-height:97%;
  text-align:right;
  transition:all linear 0.2s 0.2s;
  cursor:pointer;
  pointer-events:auto;
}

#userInfos h1{
  margin:0 0.2vw;
  font-family:Trebuchet MS;
  font-size:1.2vw;
  font-weight:lighter;
  text-align:left;
}
#PageInfo input, #PageInfo select{
  width:100%;
  font-size:1.3vw;
  text-align:center;
  margin:0.2vw 0;
  padding:0.0vw;
  border:none;
  background:#10101500;
  color:#999;
  font-family:Calibri;
  transition:all linear 0.1s;
  text-overflow:ellipsis;
}
#PageInfo select{
  cursor:pointer;
  border:none;
}
#PageInfo select:focus{
  background:#111;
  outerline:none;
}
#PageInfo option{
  cursor:pointer;
}
#PageInfo select::-webkit-scrollbar{
  width:0.2vw;
  background:#111;
}
#PageInfo select::-webkit-scrollbar-thumb{
  background:#EEE;
}

#PageInfo input:focus{
  outline:none;
  background:#101015;
}

#PageInfo button{
  margin:3px;
  padding:0px 2px;
  font-size:18px;
  font-family:Calibri;
  border:none;
  cursor:pointer;
}

#BackgroundPage{
  width:59% !important;
  vertical-align: middle;
  padding:0.45vw 0 !important;
  color:#444 !important;
  background:#111 !important;
  margin:0 -0.30vw !important;
  cursor:pointer;
}
#BackgroundPallet{
  width:0% !important;
  height:0vw;
  position:relative;
  right:14.3vw;
  bottom:-1vw;
  vertical-align: middle;
  cursor:pointer;
}

#BackgroundColorBtn{
  width:18% !important;
  height:2.5vw;
  position:relative !important;
  vertical-align: middle;
/*   background:var(--ActualBackground, #111); */
  color:#FFF;
  border-radius:0 !important;
  text-align:center !important;
  padding:0.2vw 0vw 0.2vw 0.2vw !important;
  margin:0 -0.4vw 0 0.1vw !important;
  font-family:FormmatingIcons !important;
  font-size:2.1vw !important;
  font-weight:lighter;
  cursor:pointer !important;
}

#BackgroundEditorButton{
  width:18% !important;
  position:relative !important;
  vertical-align: middle;
  background:#111 !important;
  color:#FFF;
  border-radius:0 0.3vw 0.3vw 0 !important;
  text-align:center !important;
  padding:0.2vw 0vw 0.2vw 0.2vw !important;
  margin:0 -0.1vw !important;
  font-family:FormmatingIcons !important;
  font-size:2.1vw !important;
  font-weight:lighter;
  cursor:pointer !important;
}
#BackgroundEditorButton:hover{
}
/*/////////*/
.Marcado{
  background-image:linear-gradient(90deg, #FC5, #0000);
  font-weight:bold;
  text-shadow:0.06vw 0.06vw 0.2vw #000, 0 0 10px #FE1;
  box-shadow:-0.5vw 0 0.6vw -0.4vw #FE0;
}

#PageListLocate{
  margin:0 0vw 0 1vw;
}

#PageListLocate button{
  position:absolute;
  margin:-2.07vw 0;
  right:0.3vw;
  padding:0.206vw 0.4vw;
  border:none;
  border-radius:0.5vw;
  background:#F55;
  font-family:FormmatingIcons;
  font-size:1.4vw;
  transition:all 0.2s ease-in-out;
  cursor:progress;
}
#PageListLocate button:hover{
  opacity:1;
  background:#800;
}

/*  //Specific//  */
#BookPageIndex{
  border-radius:0.3vw;
  text-shadow:0.1vw 0.1vw 0.1vw #000;
}

#BookMarkColor{
  height:2.1vw;
  padding:0 3vw !important;
  cursor:pointer;
  transition:all linear 0.1s !important;
}
#BookMarkColor[type="color"]::-webkit-color-swatch{
  border:none !important;
  border-radius:0.5vw !important;
}

/*USER INFOS*/
#userInfos{
  width:18.3vw;
  max-height:84%;
  position:fixed;
  right:0;
  top:0vw;
  padding:0.6vw 0.3vw;
  background:#335;
  z-index:10;
  overflow:auto;
}
#userInfos::-webkit-scrollbar{
  width:0.3vw;
  background:#000;
}
#userInfos::-webkit-scrollbar-thumb{
  background:#DDD;
}

#userInfos p{
  margin:0vw 0vw 0 0.9vw;
  padding:0.15vw 0;
  cursor:pointer;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  border-radius:0.5vw;
  margin:0.3vw 0;
  font-family:Helvetica;
  font-size:1.2vw;
  transition:all 0.1s ease-in-out;
}
#userInfos p:before{
  content:var(--PageIndex);
  padding:0.5vw 0.6vw;
  margin:0 0.2vw 0 0;
/*   border-radius:2vw 0vw 0vw 2vw; */
  background-color:var(--PageColor);
  text-align:center;
  text-shadow:0.1vw 0.1vw 0.1vw #000;
}
#userInfos p:hover{
  background-color:var(--HoverColor);
}
#userInfos button{
}
#userInfos button:hover{
}
button#ldp{
  color:#FFF;
  opacity:0;
}
button#ldp:hover{
  box-shadow:inset 0 0 0.5vw #F00, 0 0 0.5vw #F00;
  text-shadow:0 0 0.8vw #F00;
}


#marcar{
  margin:-2vw 2vw !important;
  border-radius:0.5vw !important;
  padding:0.2vw 0.4vw!important;
  background:none !important;
  cursor:pointer !important;
/*   text-shadow:0.02vw 0.02vw 0.3vw #000; */
  color:#FE5;
  line-height:1.3vw;
  opacity:0;
}
#marcar:hover{
  opacity:1;
  color:#FE8;
  background:none !important;
  box-shadow:/*inset 0 0 0.5vw #FF0, 0 0 0.5vw #FF0*/ none !important;
  text-shadow:0 0 0.5vw #FD0, 0 0 0.9vw #FD0;
}
.MarcadoBtn{
  color:var(--MarkBookColor) !important;
  opacity:1 !important;
  text-shadow:0 0 0.3vw var(--MarkBookColor);
  filter:contrast(150%);
}
.MarcadoBtn:hover{
  color:#999 !important;
  text-shadow:0.05vw 0.05vw 0.1vw #000 !important;
}

/*New Page Design*/
.transBtn{
  width:100%;
  padding:0.3vw;
  background:#0006;
  border:none;
  color:#FFF;
  font-size:1.25vw;
  font-weight:lighter;
  font-family:Courier New;
  text-shadow:0 0 0.3vw #FFF;
  cursor:pointer;
  transition:all ease-in-out 0.05s;
}
.transBtn:hover{
  text-shadow:0 0 0.3vw #00F;
  background:#00051080;
}
.transBtn:active{
  text-shadow:0 0 0.3vw #5F5;
  background:#00051080;
  box-shadow:inset 0.1vw 0.1vw 0.2vw #000;
  color:AFA;
}

/*Book Infos*/
#ActualBookInfos{
  width:19vw;
  max-height:90%;
  position:fixed;
  left:0;
  top:0;
  overflow-y:auto;
  text-align:center;
}
#ActualBookInfos::-webkit-scrollbar{
  width:0.2vw;
  background:#000;
}
#ActualBookInfos::-webkit-scrollbar-thumb{
  background:#FFF;
}
#bookPersonalInfos{
  max-height:0vw;
  float:left;
  background:#4489;
  overflow-y:hidden;
  text-align:left;
  transition:ease-in-out 0.4s all;
}
#ActualBookInfos h2{
  font-size:1.3vw;
  margin:0.4vw 1.5vw 0 1.5vw;
  font-weight:lighter;
  font-family:Modern M;
  text-align:right;
  text-shadow:0.05vw 0.05vw 0.1vw #000;
}
#ActualBookInfos input{
  width:99.5%;
  text-align:center;
  background:none;
  border:none;
  border-bottom:solid 0.1vw #AAA0;
  font-family:Calibri;
  font-size:1.3vw;
  margin:0.1vw 0;
  padding:0.05vw;
  overflow:hidden;
  text-overflow:ellipsis;
  color:#999;
}
#ActualBookInfos input::placeholder{
  color:#555;
}
#ActualBookInfos input:focus{
/*   background:#060606; */
  border-bottom:solid 0.1vw #AAA;
  outline: none;
/*   box-shadow:inset 0.2vw 0.2vw 0.7vw #000; */
}
#ActualBookInfos input:hover{
  border-bottom:solid 0.1vw #AAA;
}
#ActualBookInfos textarea{
  width:97%;
/*   height:2em; */
  text-align:center;
  background:none;
  border:none;
  font-family:Calibri;
  font-size:1.2vw;
  margin:0.1vw 0;
  overflow:hidden;
  text-overflow:ellipsis;
  color:#CCC;
  resize:none;
}
#ActualBookInfos textarea:focus{
  background:#111;
}
#ActualBookInfos textarea:hover{
  outline:dashed 0.1vw #FFF;
}
#BookColor{
  text-shadow:0.08vw 0.08vw 0.15vw #000;
  margin:0vw 0 0.5vw !important;
  padding:0vw 2vw !important;
/*   box-shadow:inset 0.1vw 0.1vw 0.3vw #000; */
  cursor:pointer;
}

/*Privacidade Do livro*/
#BookState[type=checkbox]{
  display:none;
}
#BookState+label{
  position:relative;
  left:5.8vw;
  background:#111;
  padding:0vw 0.8vw;
  border-radius:0.3vw;
  border:double 4px #F339;
  box-shadow:inset 0 0 0.5vw #F009, 0 0 0.8vw #F009;
  font-size:1.3vw;
  font-weight:lighter;
  font-family:Courier New;
  color:#966;
  text-shadow:0 0 0.5vw #F00;
  user-select:none;
  cursor:pointer;
  transition:all ease-in-out 0.1s;
}
#BookState[type=checkbox]:checked+label{
  border:solid 4px #9F9;
  box-shadow:0 0 0.8vw #0F0;
  background:#9F9;
  color:#030;
  text-shadow:0 0 1vw #0F0;
  font-weight:bold;
}

/*Apagar Livro*/
#DeleteHistory{
  float:right;
  margin:0.6vw 0.5vw;
  padding:0.2vw 0.4vw;
  background:#F11;
  border:none;
  border-radius:0.2vw;
  font-size:1.4vw;
  font-family:Calibri;
  color:#FFF;
  cursor:pointer;
  transition:all ease-in-out 0.1s;
}
#DeleteHistory:hover{
  color:#922;
  background:#F88;
  text-shadow:0 0 0.7vw #F00;
  box-shadow:inset 0 0 0.8vw #F00, 0 0 0.8vw #F00;
}

/*Book Lobby*/
#LobbyHud{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:var(--LobbyDisplay);
  align-items:center;
  justify-content:center;
  backdrop-filter:blur(0.2vw) brightness(40%) contrast(170%);
  transition:all ease-in-out 2s;
  cursor:pointer;
  z-index:20;
}

#booksGallery{
  width:90vw;
/*   max-height:95%; */
  height:97%;
  background:#223;
  border:0.4vw #111 solid;
  overflow-y:auto;
  overflow-x:hidden;
  cursor:auto;
}
#booksGallery::-webkit-scrollbar{
  width:0.3vw;
  height:0.3vw;
  background:#111;
}
#booksGallery::-webkit-scrollbar-thumb{
  background:#99F;
}

#booksGallery h1{
  font-family:Modern M;
  font-weight:lighter;
  font-size:3vw;
  letter-spacing:0.12vw;
  margin:1vw 0.8vw 0;
  text-shadow:0.1vw 0.1vw 0.5vw #000;
}
#BookList{
  width:100%;
  max-height:95%;
  margin:0 auto;
  text-align:left;
  cursor:auto;
/*   border:dashed 1px #852; */
}
#BookList button{
  width:16.7vw;
  padding-top:24vw;
  margin:0.9vw 0 0 0.7vw;
  background-color:#555;
  background-size:100%;
  background-position:center;
  background-repeat:no-repeat;
  box-shadow:0.2vw 0.2vw 0.5vw #000, inset 0 0 1vw #333;
  border:solid 0.3vw #FFF;
  filter:saturate(0%);
  font-size:1.1vw;
  font-family:Comfortaa; /*SubTitleFont*/
  font-weight:100;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  color:#FFF;
  text-shadow:0.1vw 0.1vw 0.15vw #000, 0 0 0.3vw #000, 0 0 0.2vw #000;
  cursor:pointer;
  opacity:0.7;
  position:relative;
  transition:all 0.1s ease-in-out;
  z-index:29;
}
#BookList button:hover{
  overflow:visible;
  text-overflow:clip;
  text-shadow:0 0 0.2vw #000, 0 0 1vw #000, 0 0 1vw #000, 0 0 1vw #000, 0 0 0.5vw #000, 0 0 0.3vw #000, 0 0 1vw #000;
  transform:scale(1.05);
  filter:saturate(150%);
  z-index:30;
  opacity:1;
}

.pub{
  box-shadow:inset 0 0 1vw var(--BookStateLights, #333), 0 0 1vw var(--BookStateLights), 0.2vw 0.2vw 0.5vw #000 !important;
  filter:saturate(100%) !important;
}

.BookViewTag{
/*   margin:0 -1.6vw; */
  position:absolute;
  top:-0.2vw;
  right:0vw;
  background:var(--BookStateLights, #333);
  padding:0.25vw 0.5vw 0.25vw 0;
  box-shadow:inset 0.15vw 0.15vw 0.4vw #000;
  border-radius:0.5vw 0vw 0vw 0.5vw;
  font-size:1vw;
  text-shadow:0.04vw 0.04vw 0.03vw #AAF, -0.04vw -0.04vw 0.03vw #000;
  color:#AAA;
}

.BookViewTag::before{
  content:'l';
  font-family:FormmatingIcons;
  font-size:1.5vw;
  padding:0.25vw 0.15vw;
  margin:0 0.2vw 0 0vw;
  border-radius:0.5vw 0vw 0vw 0.5vw;
  color:#888;
  text-shadow:/*0 0 0.4vw #F00*/ 0.03vw 0.03vw 0.02vw #000, -0.06vw -0.06vw 0.03vw #000;
/*   background:#5F5; */
}
.TagPub{
  background:#7F7 !important;
  box-shadow:0.1vw 0.1vw 0.3vw #0002, 0 0 0.7vw #3F3;
  color:#111;
  text-shadow:-0.02vw -0.02vw 0.02vw #000, 0.03vw 0.03vw 0.03vw #AFA;
  font-weight:;
}
.TagPub::before{
  color:#070;
  text-shadow:0 0 0.4vw #0F0;
  font-weight:lighter;
}

#actionBtn{
  height:7%;
  text-align:right;
  border:dotted 1px #55F;
  display:flex;
  align-items:flex-end;
  justify-content:flex-end;
}
#actionBtn button{
  height:100%;
  border:none;
  font-family:Trebuchet MS;
  font-size:1.4vw;
  cursor:pointer;
  margin:0.2vw;
  transition:all linear 0.05s;
}
#remoBook{
  background:#900;
  color:#FFF;
}
#remoBook:hover{
  background:#F88;
  color:#500;
  box-shadow:0 0 0.5vw #F00;
}
#editBook:hover{
  background:#111;
  color:#FFF;
  text-shadow:0 0 0.4vw #FFF;
}
/*Botão De User*/
#ItsMe{
  width:4vw;
  margin:-2vw -3vw;
  padding:0.45vw 0;
  float:right;
  position:relative;
  right:4vw;
  top:3vw;
/*   background:url(https://i.imgur.com/tVk75aT.png) center; */
/*   background-size:220%; */
  background-color:var(--EyeActivityColor, #111);
  box-shadow:var(--EyeActivityLight, none);
  border:none;
  border-radius:100%;
  color:#FFF;
  font-family:FormmatingIcons;
  font-weight:lighter;
  font-size:3.3vw;
  cursor:pointer;
  transition:all ease-in-out .2s;
}
#ItsMe:before{
  content:'L';
}
#ItsMe:hover{
  background:#99F;
  color:#005;
  box-shadow:0 0 1vw #33F;
}

/*InLobby Format*/
#serverType{
  margin:0 0.5vw;
  padding:0.1vw 0.4vw;
  background:#E77;
  border:none;
  border-radius:0.2vw;
  color:#FFF;
  font-size:1vw;
  font-family:Calibri;
  cursor:help;
}

/*Login Screen*/
#loginScreen{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:#0009;
  backdrop-filter:blur(0.3vw);
  transition:all linear 0.2s;
  cursor:wait;
  display:var(--LogView, none);
  opacity:var(--LogStyle, 0);
  align-items:center;
  justify-content:center;
  z-index:25;
}

#logMe{
  width:50vw;
  background:#222;
  text-align:center;
  cursor:auto;
  border:solid 0.05vw #AAA;
  border-top:solid 0.5vw #AAA;
  border-radius:0.5vw 0.5vw 0 0;
  box-shadow:0.2vw 0.2vw 0.4vw #000;
}
#logMe input{
  width:90%;
  margin:1.5vw 1vw;
  background:none;
  border:none;
  text-align:center;
  font-size:1.9vw;
  font-family:Trebuchet MS;
  color:#EEE;
  letter-spacing:0.1vw;
  text-shadow:0.1vw 0.1vw 0.3vw #000;
}
#logMe input::placeholder{
  color:#AAA;
}
#insertName:focus{
  background:#111;
  color:#FD8;
  text-shadow:0 0 0.5vw #FA0;
}
#logMe p{
  margin:0;
  padding:0;
}
#logMe button{
  background:#111;
  padding:0.6vw 0.5vw;
  margin:0.5vw 0vw;
  border:none;
  border-radius:0.5vw 0 0.5vw 0vw;
  box-shadow:inset 0 0 0.6vw #000;
  color:#FFF;
  font-size:1.4vw;
  cursor:pointer;
  transition:all ease-in-out 0.1s;
}
#logMe button:hover{
  color:#151;
  background:#9F9;
  box-shadow:0 0 1vw #4F4;
}
#addBook{
  background:url(https://i.imgur.com/6w6YT4C.png) center no-repeat;
  background-size:60% !important;
  background-color:#232 !important;
  display:var(--Abble, none);
  filter:saturate(90%) !important;
}
#favPages{
  background:url(https://i.imgur.com/Baf6e8y.png) center no-repeat;
  background-color:#111 !important;
  background-size:60% !important;
  border-color:#FC8 !important;
  filter:saturate(90%) !important;
}

/*Book Create Screen*/
#createBookScreen{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  backdrop-filter:blur(0.3vw) brightness(40%) contrast(110%) saturate(250%);
  display:var(--CreateBookDisplay, none);
  opacity:var(--CreateBookOpacity, 0);
  align-items:center;
  justify-content:center;
  transition:all ease-in-out 0.2s;
  z-index:24;
}

#createBookWindow{
  width:40vw;
  max-height:98%;
  background:var(--createBackground);
  padding:0.5vw;
  overflow-y:auto;
  text-align:center;
}
#createBookWindow::-webkit-scrollbar{
  width:0.25vw;
  background:#FFF;
}
#createBookWindow::-webkit-scrollbar-thumb{
  background:#000;
}

#createBookWindow h1{
  margin:0 1vw;
  font-family:Modern M;
  font-weight:lighter;
  font-size:2.3vw;
  color:#FFF;
  text-shadow:0.1vw 0.1vw 0.2vw #000;
  text-align:left;
}
#createBookWindow input{
  width:90%;
  background:none;
  border:none;
/*   margin:0.2vw 0; */
  padding:0.3vw;
  color:#FFF;
  font-size:1.7vw;
  margin:0.5vw 0;
  text-align:center;
  text-shadow:0.05vw 0.05vw 0.1vw #000;
  text-overflow:ellipsis;
}
#createBookWindow input::placeholder{
  color:#CCC;
  text-shadow:0.0vw 0vw 0.1vw #000;
}
#createBookWindow input:focus{
  background:#222;
}
#createBookWindow textarea{
  width:92%;
  height:4em;
  background:none;
  border:none;
  resize:none;
  text-align:center;
  font-size:1.2vw;
  color:#FFF;
}
#createBookWindow textarea::placeholder{
  color:#DDD;
}
#createBookWindow textarea:focus{
  background:#222;
}
#createBookWindow button{
  cursor:pointer;
  font-size:1.3vw;
}
#NameCreate{
  width:54% !important;
}
#CoverCreate{
  color:#666 !important;
  text-shadow:none !important;
}
#dedicatoria{
  font-size:1.5vw !important;
  text-align:left !important;
}
#observacao{
  width:70% !important;
  text-align:right !important;
  font-size:1.2vw !important;
}
#docColor{
  width:20% !important;
  height:8vw;
  margin:0 0 !important;
  padding:0 !important;
  text-align:right;
  float:left;
  border-radius:0.5vw;
  cursor:pointer;
  box-shadow:0.3vw 0.3vw 0.3vw #0003;
  line-height:0vw;
}
#docColor::before{
  content:' ';
  line-height:0vw;
  padding:0 3vw;
  padding-bottom:4vw;
  background-color:var(--createBackground);
  position:relative;
  top:2vw;
}
#createBookWindow p{
  width:100%;
  float:left;
  margin:2vw 0 0 !important;
}
#createBookWindow img{
  max-width:55%;
  margin:0vw 0 -3.5vw;
  border:var(--CoverPreviewBorder);
  border-color:var(--CoverBorderColor);
  box-shadow:0.3vw 0.3vw 0.3vw #0008;
/*   border:0.3vw solid #FFF; */
}


/*///Editor De Backgrounds////*/
#BackgroundEditorScreen{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:55;
  background:#000C;
  backdrop-filter:blur(3px);
/*   pointer-events:none; */
  display:var(--BackgroundEditorActive, none);
  align-items:center;
  justify-content:center;
}

#bgSizeGeneral{
  padding:0 0.5vw;
  text-align:right;
  font-size:1.7vw;
  font-family:Calibri;
  font-weight:lighter;
}
#bgSizeGeneral span{
  font-size:1vw;
  font-family:Trebuchet MS;
  font-weight:bold;
  color:#999;
}

#bgStyleChoose{
  width:99%;
  float:left;
  text-align:right;
  margin:0vw 0 1.5vw;
}
#bgStyleChoose h3{
  padding-right:10vw;
  padding-bottom:1vw;
}

#bgSizeGeneral input{
  width:5vw;
  padding:0.3vw 0;
  background:#222;
/*   box-shadow:inset 0.1vw 0.1vw 0.3vw #000; */
  border:none;
  border-radius:0.5vw;
  color:#FFF;
  text-align:center;
  font-size:1.15vw;
  font-family:Courier New;
}

#bgEditor{
  width:65vw;
  max-height:97%;
  background:#111;
  overflow-y:auto;
  pointer-events:auto;
  user-select:none;
  opacity:var(--BackgroundMenuVisibility, 0);
  transition:opacity ease-in-out 0.3s;
}
#bgEditor::-webkit-scrollbar{
  width:3px;
  background:#FFF;
}
#bgEditor::-webkit-scrollbar-thumb{
  background:#000;
}
#bgEditor input:focus{
  outline:none !important;
  box-shadow:inset 2px 2px 5px #000;
}


#bgEditor h2{
  margin:0.1vw 0 0.8vw;
  padding:0.5vw 0;
  font-family:Modern M;
  font-weight:lighter;
  font-size:2.5vw;
  text-align:center;
  background:#252030;
/*   border-bottom:groove 2px #0005; */
  box-shadow:0 1.1vw 1vw -1.2vw #55F;
}
#bgEditor h3{
  margin:0.1vw 0 1vw 0;
  font-size:1.7vw;
  font-family:Calibri;
  font-weight:bold;
  color:#AAA;
}
#bgEditor h4{
  margin:1vw 0 0.5vw;
  color:#999;
  font-family:Courier New;
  font-weight:bold;
  font-size:1.4vw;
  text-align:left;
}
#bgEditor h5{
  padding-right:20%;
  font-weight:lighter;
  font-family:Calibri;
  margin:0;
}
#bgPreview{
  width:42%;
  height:45vw;
  float:left;
  border:solid 0.3vw #FFF;
}
#bgStyle{
  width:55%;
  text-align:center;
  float:right;
}

/*    Background Type   */
.bgType[type=radio]{
  display:none;
}

.bgTypeLabel{
  width:7vw;
  height:7vw;
  padding:0.3vw 0vw;
  border:none;
  border-radius:0.3vw;
  margin:0 1vw;
  text-align:left;
  font-family:FormmatingIcons;
  font-size:7vw;
  line-height:6vw;
  color:#000;
  opacity:0.3;
  box-shadow:4px 4px 9px 2px #000;
  cursor:pointer;
  transition:all ease-in-out 0.2s;
}
.bgType[type=radio]:checked+label{
  opacity:1;
  box-shadow:inset 3px 3px 10px 2px #000;
}

.txtInv{
  color:#0000;
}

.bgTypeLabel:hover{
  opacity:1;
/*   box-shadow:inset 0 0 5px #000; */
}

#ImageBackground+label{
  background-color:#FFF;
}
#GradientButton+label{
  background-image:linear-gradient(0deg, #F51, #51F);
}
#SolidColorButton+label{
  background:var(--SolidColorBGButton, #5F5);
  background-size:150%;
}

#ImageBackground[type=radio]:checked+label{
  box-shadow:inset 3px 3px 10px -3px #000, 0 0 15px -5px #FFF;
}
#GradientButton[type=radio]:checked+label{
  box-shadow:inset 3px 3px 10px -3px #000, 0px -5px 15px -5px #55F, 0 5px 15px -5px #F55;
}
#SolidColorButton[type=radio]:checked+label{
  box-shadow:inset 3px 3px 10px -3px #000, 0 0 15px -5px var(--solidSelected, #5F5);
}

/*******/
#BgImageStyle{
  max-height:0vw;
  text-align:left;
  overflow:hidden;
  transition:all ease-in-out 0.2s;
}

/*Background 01*/
.bgRadios{
  display:;
  float:left;
  margin:0 1vw;
}
.bgRadios input[type=radio]{
  -webkit-appearance: none;
  padding:1vw;
  margin:0.3vw;
  border-radius:3px;
  background:#333;
  cursor:pointer;
}
.bgRadios input[type=radio]:checked{
  background:#5F5;
  cursor:pointer;
}

.bgRepeat{
  width:8vw;
  float:right;
  margin:0 1vw;
}
.bgRepeat input[type=radio]{
  display:none;
}
.bgRepeat label{
  margin:0.4vw 0.4vw;
  padding:0.4vw 0.8vw;
  background:;
  box-shadow:inset 2px 2px 5px #000;
  font-family:Modern M;
  font-weight:lighter;
  font-size:1.8vw;
  display:inline;
  float:right;
  border-radius:0.3vw;
  cursor:pointer;
  transition:all ease-in-out 0.1s;
}
.bgRepeat label:hover{
  background:#EEE;
  color:#000;
  font-weight:bold;
  box-shadow:3px 3px 5px #000;
}
.bgRepeat input[type=radio]:checked+label{
  background:#EEE;
  color:#000;
  font-weight:bold;
  box-shadow:3px 3px 5px #000;
}

.bgBox{
  margin:0.8vw;
  background:#888;
  text-align:center;
  float:left;
}
.bgImgLink{
  width:97%;
  background:#222;
  margin:0.2vw 0;
  border:none;
  padding:0.5vw;
  text-align:center;
  font-size:1.2vw;
  float:left;
  color:#999;
}
.deAct{
  pointer-events:none;
  opacity:0.2;
}

/*    /////////Gradient BG////////    */
#GradientStyleTab{
  max-height:0vw;
  overflow:hidden;
  transition:all ease-in-out 0.2s;
}

#GradientType{
  text-align:center;
  padding:0.1vw 0 !important;
/*   box-shadow:none !important; */
  background:none !important;
}
#GradientType input[type=radio]{
  display:none;
}
#GradientType label{
  margin:0 0.3vw;
  padding:0.1vw 0.3vw;
  border-radius:0vw 0vw 0.3vw 0.3vw;
  background:#0E0E0E;
  font-family:Courier New;
  font-weight:lighter;
  font-size:1.3vw;
  color:#FFF5;
  text-shadow:0 0 5px #444;
  box-shadow:inset 2px 2px 5px #000;
  cursor:pointer;
}
#GradientType input[type=radio]:checked+label{
  background:#8F8;
  box-shadow:2px 2px 5px #000, 0 0 10px #3F3;
  font-weight:bold;
  color:#181;
  text-shadow:0 0 7px #5F5;
  border-radius:0.3vw;
}
#GradientType input[type=radio]:disabled+label{
  opacity:0.4;
  color:#555;
  text-shadow:-0.05vw -0.05vw 0.08vw #FFF, 0.05vw 0.05vw 0.08vw #000;
}

#GradientType span{
  font-family:Modern M;
  margin:0 0.1vw;
}

#LinearRotate{
  width:3.5vw;
  float:none;
  padding:0.1vw;
  text-align:right;
}
.LRT{
  display:var(--RotatorVisibility, none);
  font-size:1.2vw;
}
#LinearRotate[type=number]::-webkit-inner-spin-button{
  position:relative;
  right:3.6vw;
  opacity:0.5;
  transform:scale(0.8, 1);
  margin:0 -1vw 0 -0.1vw;
}

#gradientInitialColors{
  text-align:left;
}
#gradientInitialColors input{
  border:none;
  color:#999;
}
#gradientInitialColors input[type="color"]{
  -webkit-appearance: none;
  width:0vw;
  height:0vw;
  padding:0;
  margin:0;
  cursor:pointer;
  border:none;
  position:relative;
  left:4.4vw;
  bottom:1.5vw;
  opacity:0;
}
#gradientInitialColors div{
  background:#0E0E0E;
  margin:0.5vw 1vw;
  padding:0;
  border-radius:0.3vw;
  box-shadow:inset 2px 2px 5px #000;
}

.gradientRadius{
  width:6vw;
  position:relative;
  top:0.1vw;
  background:#222;
  margin:0vw;
  font-family:Trebuchet MS;
  font-size:1.3vw;
  text-align:center;
  padding:0.3vw;
  border-radius:0 0.4vw 0.4vw 0vw;
}

.GCH{
  width:4vw;
  height:3vw;
  background-color:var(--GradientColorSel, #000);
  margin:0.2vw 0.2vw;
  cursor:pointer;
  border-radius:0.4vw 0vw 0vw 0.4vw;
  font-size:1vw;
  font-weight:bold;
  text-shadow:1px 1px 2px #000;
  text-align:center;
}

.ocu{
  float:none;
  width:3.2vw;
  padding:0.3vw;
  border-radius:0.3vw;
}
#ExtraColors{
  width:auto !important;
  background:none !important;
  padding:none !important;
  text-align:none;
  box-shadow:none !important;
}
#ExtraColors div::before{
  content:var(--ColorNumber);
  font-size:1.5vw;
  font-family:Modern M;
  padding:0.9vw 0.5vw;
}

#GradientStyleCode{
  width:94%;
  white-space:nowrap;
  overflow-x:auto;
  overflow-y:hidden;
  user-select:text;
  margin:3vw 0.5vw 1vw;
}
#GradientStyleCode::-webkit-scrollbar{
  height:0.2vw;
  background:#326;
}
#GradientStyleCode::-webkit-scrollbar-thumb{
  background:#999;
}
#GradientStyleCode:focus{
  outline:none;
  box-shadow:inset 0.2vw 0.2vw 0.6vw #000;
}

.removeButton{
  float:right;
  position:relative;
  top:0vw;
  padding:1vw 1vw;
  background:none;
  border:none;
  border-radius:0.3vw;
  font-family:"FormmatingIcons";
  font-weight:lighter;
  font-size:1.5vw;
  color:#FEE;
  text-shadow:0 0 1vw #F00;
  cursor:pointer;
}

#addColorGradient{
  width:95%;
  margin:0 0.9vw 0.8vw;
  background:#FFF;
  padding:0.4vw;
  border:none;
  border-radius:0.1vw;
  box-shadow:0vw 0vw 0.8vw #FFF;
  color:#555;
  font-size:1.2vw;
  font-family:Trebuchet MS;
  font-weight:bold;
  text-shadow:0.1vw 0.1vw 0.7vw #FFF;
  cursor:pointer;
  transition:all ease-in-out 0.1s;
}
#addColorGradient:active{
  background-color:#222;
  box-shadow:inset 0.1vw 0.1vw 0.4vw #000;
  text-shadow:0.01vw 0.01vw 0.03vw #444, -0.01vw -0.01vw 0.05vw #000;
  color:#111;
}

/**Fundo de cor solida**/
#SolidColorBackground{
  max-height:0vw;
  overflow:hidden;
  transition:all ease-in-out 0.25s;
}
#SolidColorPallet{
  width:0;
  height:0;
  border:none;
  padding:0;
  background:none;
  position:relative;
  bottom:9vw;
  left:9vw;
  opacity:0;
  pointer-events:none;
}
#ColorSaved{
  min-height:5.3vw;
  box-shadow:inset 0.1vw 0.1vw 0.3vw #000;
  border-radius:0.4vw;
  text-align:left;
  padding:0.2vw 0.5vw;
}

#ColorSaved input[type=radio]{
  -webkit-appearance: none;
  width:1.8vw;
  padding-bottom:1.8vw;
  margin:0.3vw;
/*   border:double 5px #000; */
  border:none;
  box-shadow:0 0 0.8vw 0.1vw var(--ColorBgBright), 0.3vw 0.3vw 0.3vw #000;
  border-radius:0.3vw;
  cursor:pointer;
}
#ColorSaved input[type=radio]:checked{
  box-shadow:inset 0.1vw 0.1vw 0.3vw #000;
  filter:brightness(20%);
}

#ClearSolidColor{
  margin:0 0.5vw 4vw;
  cursor:pointer;
}
.noColor{
  background:url(https://i.imgur.com/4YlmgcH.png) center, #FFF;
  background-size:200%;
}

#ManageBackground{
  width:100%;
  position:sticky;
  bottom:0;
  float:left;
  background:#5556;
}
#ManageBackground p{
  margin:0;
  padding:0 2vw 0vw 0vw;
  text-align:right;
}
#ManageBackground button{
  margin:0.3vw;
  padding:0.4vw;
  border:none;
  border-radius:0.2vw;
  font-size:1.4vw;
  font-family:Modern M;
  font-weight:400;
  cursor:pointer;
}

#CancelBackground{
  color:#999;
  background:#111;
  transition:all ease-in-out 0.1s;
}

#CancelBackground:hover{
  background:#FFF;
  box-shadow:0 0 0.9vw #FFF, inset 0 0 0.8vw #FFF;
  color:#111;
  text-shadow:0 0 0.8vw #FFF;
}
#CancelBackground:focus{
  box-shadow:inset 0.1vw 0.1vw 0.4vw #000;
  background:#222;
  color:#555;
  text-shadow:-0.05vw -0.05vw 0.05vw #000, 0.05vw 0.05vw 0.05vw #111;
}

#SaveBackground{
  color:#EFE;
  background:#3A3;
  transition:all ease-in-out 0.1s;
}
#SaveBackground:hover{
  color:#282;
  background:#5F5;
  box-shadow:0 0 0.8vw #0F0;
  text-shadow:0 0 1vw #0F0;
}
#SaveBackground:focus{
  color:#4F4;
  background:#252;
  box-shadow:inset 0.2vw 0.2vw 0.8vw #000;
  text-shadow:0 0 1vw #0F0;
}

/*Popup de aviso*/
#helpPopup{
  max-width:28vw;
  position:fixed;
  top:0;
  left:0;
  padding:0.5vw 0.9vw;
  background:#050505;
  border:solid 0.2vw #8F8;
  font-family:Courier New;
  transition:all linear 0.05s;
  opacity:var(--NeedHelp, 0);
  pointer-events:none;
  z-index:210;
}
#helpPopup h1{
  margin:0.1vw 0 0.7vw;
  text-align:center;
  font-family:Modern M;
  font-weight:lighter;
  font-size:2.2vw;
}
#helpPopup h2{
  margin:0;
  font-size:1.6vw;
  font-weight:lighter;
}
#helpPopup h3{
  margin:0;
  font-weight:lighter;
}
#helpPopup h4{
  margin:0;
  font-weight:lighter;
  font-size:1vw;
}
#helpPopup p{
  margin:0vw 0vw;
  font-size:1.15vw;
}
#helpPopup p i{
  color:#CCC;
  text-shadow:0 0 0.4vw #888;
}
#helpPopup p b{
  text-shadow:0 0 0.5vw #FFF;
}
#helpPopup x{
  color:#9F9;
  text-shadow:0 0 0.5vw #1F1, 0 0 0.9vw #1F1;
}
#helpPopup r{
  font-variant:small-caps;
  font-size:1.7vw;
  font-weight:bold;
  text-shadow:0 0 0.4vw #F00, 0 0 0.6vw #F00;
  color:#FAA;
}


/*Debug De Eventos*/
#debuggView{
  max-width:25vw;
  min-width:15vw;
  pointer-events:none;
  background:#000;
  opacity:0.8;
  position:fixed;
  left:0;
  top:0;
  font-weight:bold;
  text-align:center;
  font-family:Agency FB;
  display:var(--DebuggViewer, none);
  z-index:50;
}

/*Debug View*/
#debuggView input{
  width:90%;
  margin:0.2vw 0.3vw;
  font-size:0.9vw;
  text-align:center;
  background:#111;
  border:none;
  border-radius:0.3vw;
  color:#999;
  overflow: hidden;
  text-overflow: ellipsis;
}
#debuggView p{
  max-width:7vw;
  margin:0 0.12vw;
  padding:0vw 0.2vw;
/*   background:#003; */
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display:inline-block;
  vertical-align:text-top;
  font-weight:lighter;
}

/*Caixa De Avisos*/
#WarningWindow{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:#0009;
  backdrop-filter:blur(0.3vw) contrast(120%) brightness(150%);
  display:var(--WarningDisplay);
  align-items:center;
  justify-content:center;
  z-index:50;
  cursor:not-allowed;
}
#WarningBox{
  max-width:50vw;
  max-height:90%;
  background:#000;
  text-align:center;
  padding:0.8vw;
  box-shadow:0.2vw 0.2vw 0.3vw #0008;
  opacity:var(--warningBoxOpacity, 0);
  overflow-y:auto;
  cursor:default;
  transition:all ease-in-out 0.3s;
}
#WarningBox::-webkit-scrollbar{
  width:0.2vw;
  background:#FFF;
}
#WarningBox::-webkit-scrollbar-thumb{
  background:#000;
}

#WarningBox h1{
  margin:0;
  padding:0;
  font-family:Modern M;
  font-size:2.3vw;
  font-weight:Lighter;
  color:#AAA;
  text-align:center;
}
#WarningBox h2{
  margin:0;
  font-size:1.1vw;
  font-family:Trebuchet MS;
  font-weight:lighter;
  color:#AAA;
}
#WarningBox h3{
  margin:0.6vw 0 0;
  text-align:right;
  font-size:1vw;
  font-weight:lighter;
  font-family:Calibri;
}
#WarningBox h4{
  margin:1vw 1vw 0;
  text-align:left;
  font-size:1.5vw;
  font-family:Calibri;
  font-weight:lighter;
}
#WarningBox button{
  margin:2vw 0vw 0;
  padding:0.3vw 0.6vw;
  border:none;
  font-size:1.2vw;
  font-weight:bold;
  font-family:Trebuchet MS;
  text-shadow:0.05vw 0.05vw 0.01vw #000, -0.05vw -0.05vw 0.01vw #000;
  transition:all ease-in-out 0.1s;
  cursor:pointer;
}
#WarningBox .denied{
  background:#F00;
  color:#FFF;
}
#WarningBox .denied:hover{
  background:#F88;
  color:#FAA;
  text-shadow:0 0 0.8vw #F00;
  box-shadow:inset 0 0 0.5vw #F00, 0 0 0.5vw #F00;
}
#WarningBox .confirm{
  background:#080;
  color:#FFF;
}
#WarningBox .confirm:hover{
  background:#8F8;
  color:#373;
  text-shadow:0 0 0.8vw #0F0;
  box-shadow:inset 0 0 0.5vw #0F0, 0 0 0.5vw #0F0;
}
#WarningBox .blank{
  background:#111;
  color:#FFF;
}
#WarningBox .blank:hover{
  background:#FFF;
  color:#111;
}
#WarningBox input{
  width:85%;
  margin:0.5vw;
  padding:0.2vw 0.5vw;
  font-size:1.3vw;
  font-family:calibri;
  background:#111;
  color:#FFF;
  border:none;
  box-shadow:inset 0.1vw 0.1vw 0.3vw #000;
}
#WarningBox input::placeholder{
  color:#555;
}

#WarningBox input[type=color]{
  width:10vw;
  height:3vw;
  padding:0;
  background:none;
  cursor:pointer;
  display:block;
}
#WarningBox input[type=color]::-webkit-color-swatch {
  border-radius:1vw 0vw 1vw 0vw;
  border:1px #444 solid;
}

/*********/
#MarkedWindow{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:#0008;
  z-index:35;
  display:var(--PaginaDeMarcacoes);
  align-items:center;
  justify-content:center;
  pointer-events:none;
  transition:all ease-in-out 0.3s;
}
#MarkedTab{
  max-width:80%;
  min-width:40%;
  max-height:90%;
  background-image:linear-gradient(20deg, #151518, #151520);
  overflow:auto;
  pointer-events:auto;
  opacity:var(--MarcacoesOpacidade, 0);
  transition:all ease-in-out 0.3s;
}
#MarkedTab::-webkit-scrollbar{
  width:0.25vw;
  background:#111;
}
#MarkedTab::-webkit-scrollbar-thumb{
  background:#447;
}

#MarkedTab h1{
  position:sticky;
  top:0;
  margin:0 0vw 0 0vw;
  padding:0 0 0.5vw 2vw;
  font-family:SansSerif;
  font-weight:bold;
  letter-spacing:0.4vw;
  background:#151520;
  box-shadow:0.1vw 0.1vw 0.4vw #000;
  z-index:36;
}
#MarkedTab h1 j{
  font-family:FormmatingIcons;
  font-weight:lighter;
  margin:0 -0.8vw;
  color:#FE8;
  text-shadow:0 0 0.6vw #F91;
}
#MarkedTab h2{
  font-family:Comfortaa;
  font-weight:lighter;
  font-size:1.7vw;
  padding:0 1vw;
  margin:1vw 0 0.6vw 0;
}
#MarkedTab h3{
  font-family:SansSerif;
  font-weight:lighter;
  font-size:1.4vw;
  padding:0 0.2vw;
  margin:0vw 0 0 0;
  text-align:left;
}
#MarkedTab h4{
  font-family:Comfortaa;
  font-weight:lighter;
  font-size:1vw;
  padding:0 1vw;
  margin:0.7vw 0 1vw 0;
  text-align:center;
}
#MarkedTab h5{
  font-family:Calibri;
  font-weight:lighter;
  font-size:1vw;
  padding:0 0.3vw;
  margin:0.5vw 0 0 0;
  text-align:left;
}
#MarkedTab h6{
  font-family:Calibri;
  font-weight:lighter;
  font-size:0.9vw;
  padding:0 0.5vw;
  margin:0.5vw 0 0 0;
  text-align:right;
}
#MarkedTab p{
  margin:0.3vw 0vw 0 1.5vw;
  padding:0.2vw 0vw;
  background-image:linear-gradient(90deg, #555 10%, #0000 98%);
  color:var(--MarkedColor);
  border-radius:0.5vw 0vw 0vw 0.5vw;
  cursor:pointer;
  font-family:Calibri;
  font-size:1.4vw;
  text-shadow:0 0 0.3vw var(--MarkedColor);
  filter:brightness(50%) contrast(130%);
}
#MarkedTab p::before{
  content:var(--MarkedIndex);
  color:#FFF;
  padding:0.2vw 0.7vw;
  margin:0 0.5vw 0 -0.1vw;
  background:var(--MarkedColor);
  border-radius:0.5vw 0vw 0vw 0.5vw;
  box-shadow:0.1vw 0.1vw 0.3vw #000;
  text-shadow:0.1vw 0.1vw 0.15vw #000, 0.1vw 0.1vw 0.2vw #000;
}
#MarkedTab p:hover{
  filter:none;
  background-image:linear-gradient(90deg, var(--MarkedColor) 10%, #0000 98%);
  text-shadow:0.1vw 0.1vw 0.2vw #000;
  color:#FFF;
}

/******/
#listOfMarked{
  width:35vw;
  height:50hw;
  float:left;
  box-shadow:inset -0.2vw 0.2vw 0.2vw #000;
}
#markDetails{
  width:18vw;
  position:sticky;
  top:0;
  border-radius:1vw 1vw 0vw 0;
  overflow-y:hidden;
  float:left;
  z-index:37;
  word-wrap: break-word;
}
#markDetails img{
  width:100%;
  height:9vw;
  border:none;
  object-fit: cover;
  object-position: 0% 40%;
  background:none;
}
#gradientMass{
  width:100%;
  height:9vw;
  position:absolute;
  top:0;
  background-image:linear-gradient(0deg, #151520 5%, #F810);
  box-shadow:0vw 0.8vw 0.7vw -0.5vw #151520, inset 0 -0.8vw 0.7vw -0.5vw #151520;
}

#closeTabs{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  cursor:pointer;
  display:var(--CloseTabsActivated);
  z-index:var(--CloseTabsIndex);
}

#slideWarning{
  width:100%;
  position:fixed;
  top:var(--WarningTopVisibility);
  pointer-events:none;
  display:flex;
  justify-content:center;
/*   border:dashed 1px #888; */
  text-align:center;
  z-index:100;
  transform:var(--RotationVisibility);
  transition:.2s ease-in-out all;
}
#slidBox{
  max-width:30%;
  background:#050505;
  padding:0.3vw 0.8vw;
  border-radius:0.8vw;
  font-family:Calibri;
  font-weight:lighter;
  font-size:1.2vw;
  border:0.1vw var(--warningTypeColor) solid;
  pointer-events:auto;
  user-select:none;
  box-shadow:0.1vw 0.1vw 0.4vw #000;
  transition:.2s ease-in-out all;
}
#slideWarning h1{
  margin:0;
  font-size:1.3vw;
  font-family:Modern M;
  line-height:1.5vw;
  font-weight:lighter;
  letter-spacing:0.2vw;
}
#slideWarning h2{
  margin:0;
  font-size:1.3vw;
  font-family:Calibri;
  font-weight:lighter;
  letter-spacing:0.2vw;
}
#slidBox lk{
  display:inline;
  cursor:pointer;
  color:#FF0;
  text-shadow:0 0 10px #FF0;
}

#backdrop{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:#000A;
  opacity:var(--FocusTutorial, 0);
  backdrop-filter:blur(0.3vw);
  transition:all ease-in-out 0.2s;
  pointer-events:none;
  z-index:99;
}

/*///Hyper Highlight Warning///*/
#hyperhighlight{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  backdrop-filter:blur(0.5vw) contrast(200%) saturate(10%);
  background:#000A;
  z-index:50;
  display:var(--hyperChange, none);
  opacity:var(--HyperOpacity, 0);
  transition:opacity ease-in-out 0.3s 0.1s;
}
#hyperhighlight div{
  max-width:40vw;
  max-height:98%;
  background:#050505;
  border: solid 0.1vw #FFF;
  padding:0.5vw;
  overflow-y:auto;
  position:fixed;
  top:var(--HHTop, none);
  left:var(--HHLeft, none);
  right:var(--HHRight, none);
  bottom:var(--HHBottom, none);
  font-family:Courier New;
  font-weight:lighter;
  text-align:right;
}
#hyperhighlight div::-webkit-scrollbar{
  width:0.4vw;
  background:#FFF;
}
#hyperhighlight div::-webkit-scrollbar-thumb{
  background:#111;
}
#hyperhighlight div h1{
  margin:0 10%;
  font-family:Modern M;
  font-weight:lighter;
  font-size:2vw;
  text-align:left;
}
#hyperhighlight div p{
  margin:0.5vw 0;
  font-size:1.1vw;
  font-family:Courier New;
  color:#999;
  text-align:left;
}
#hyperhighlight div h3{
  margin:0.5vw 0;
  font-size:1.2vw;
  font-weight:lighter;
  font-family:EnterCommand;
  text-align:right;
  color:#AAF;
}
#hyperhighlight div button{
  margin:0vw 1vw;
  background:none;
  border:none;
  color:#4F4;
  font-size:1.4vw;
  font-family:Courier New;
  text-shadow:0 0 1vw #0F0;
  cursor:pointer;
}


/*Welcome Message*/
#Welcome{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
/*   background:#7D7FB9; */
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:203;
  pointer-events:none;
  transition:all ease-in-out 0.3s;
}
#WelcomeContent{
  width:5vw;
  margin:0 8vw 0 0;
/*   border:dashed 1px #F55; */
}
#WelcomeContent h2{
  padding:0;
  margin:0;
  position:relative;
  white-space:nowrap;
  z-index:203;
  font-size:2.5vw;
  font-family:Comfortaa;
  font-weight:lighter;
  text-align:left;
  color:#FFFC;
  text-shadow:1px 1px 5px #000;
  opacity:0;
  transition:all ease-in-out 0.3s 0.1s;
}
#WelcomeContent h2:before{
  content:var(--BemVindo);
}
#WelcomeContent h3{
  margin:0;
  white-space:nowrap;
  font-family:SansSerif;
  font-weight:lighter;
  color:#EFE;
  text-shadow:1px 1px 5px #000;
  opacity:0;
  transition:all ease-in-out 0.3s 0.5s;
}

#welcomeEye{
  width:100%;
  height:100%;
/*   border:dotted 1px #2F2; */
  position:fixed;
  top:0;
  left:0;
  opacity:1;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#413F5F;
  filter:drop-shadow(0.2vw 0.2vw 0.4vw #000);
  z-index:200;
  transition:all ease-in-out 0.3s;
}

#welcomeEye video{
  width:50%;
  position:absolute;
  opacity:1;
  filter:hue-rotate(5deg) brightness(50%) saturate(110%) drop-shadow(0.2vw 0.2vw 0.4vw #000);
  z-index:203;
/*   transition:all ease-in-out 0.2s; */
}
.noBackLeak{
  width:26%;
  height:100%;
  position:absolute;
  background:#413F5F;
  z-index:204;
}

#nBg1{
  left:0;
}
#nBg2{
  right:0;
}
#noBackLeakHorizon{
  width:50%;
  height:570px;
  background:linear-gradient(0deg, #413F5F 25%, #5550 25%, #FF00 75%, #413F5F 75%);
/*   border:solid 1px #F45; */
  z-index:204;
}

#backtest{
  width:50%;
  height:50vw;
  background:#413F5F;
  position:absolute;
  z-index:203;
  transition:all ease-in-out 0.3s;
}
#iris{
  width:19vw;
  padding-top:19vw;
  position:absolute;
  background:#447;
  box-shadow:inset 0vw 0vw 0.8vw #000;
  border-radius:100%;
  opacity:0;
  z-index:203;
  transition:all ease-out 0.2s;
}

#PoweredBy{
  width:15vw;
  position:fixed;
  bottom:-0.4vw;
  left:42vw;
  border-radius:0.5vw;
  background:#2233;
  box-shadow:inset 0 0 1vw #000;
  opacity:0;
  pointer-events:none;
  z-index:210;
  transition:all ease-in-out 0.5s 2s;
  cursor:default;
}
#PoweredBy h1{
  margin:0.5vw 0.4vw 0;
  white-space:nowrap;
  font-family:SansSerif;
  font-weight:lighter;
  font-size:1.1vw;
}

#PoweredBy h2{
  margin:0;
  padding:0.1vw 0.4vw 0.5vw;
  font-size:1.2vw;
  font-family:Courier New;
  font-weight:lighter;
  font-variant:small-caps;
  text-align:center;
}
#PoweredBy h2 b{
  margin:0 0.0vw;
  font-weight:bold;
  color:#8F9;
  text-shadow:0 0 8px #1F3;
  cursor:pointer;
  pointer-events:auto;
}

#outFocus{
  width:100%;
  height:100%;
/*   background:#0005; */
  position:fixed;
  top:0;
  left:0;
/*   backdrop-filter:blur(4px); */
  opacity:0;
  display:flex;
  justify-content:center;
  point-events:none;
  z-index:209;
  transition:all ease-in-out 0.4s;
}

#outFocus h4{
  position:fixed;
  white-space:nowrap;
  margin:0;
  bottom:4vw;
  z-index:210;
  font-size:0.9vw;
  font-family:Courier New;
  color:#FFF;
  text-shadow:0 0 10px #FFF;
}
