
@media (max-width:768px) {
    .Def-Bg{
        z-index: 10;
        > div{
            &:nth-of-type(1){
                width: 100%;
                height: 100%;
            }
        }
        .Def-Lt{/*NOTA: Zona central*/
            &.mb{
                width: 100vw;
            }
            > h1{
                font-size: 6vw;
            }
            > div{/*NOTA: Conteudo Central*/

                &:nth-of-type(1){/*NOTA: Lista De Compras*/
                    min-height: initial;
                    >div{
                        > div{/*> Divisões da Caixa de Item*/
                            > div{/*> Linhas da lista*/
                                height: 4.5vw;
                                min-height: initial;
                                border-width: 0.3vw;
                                &:nth-of-type(1){
                                    width: 12%;
                                    flex-grow: 0;
                                }
                                &:nth-of-type(2){
                                    width: fit-content;
                                    flex-grow: 1;
                                }
                                &:nth-of-type(3){
                                    width: 20%;
                                    flex-grow: 0;
                                }
                            }

                            &:first-of-type{

                            }
                        }
                        &:nth-of-type(1){/*NOTA: Divisores de Categoria*/
                            > div{
                                > div{
                                    height: 7.5vw;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 0;
                                    font-size: 5.4vw;

                                    &:nth-of-type(1){
                                        width: 13.2%;
                                        flex-grow: 0;
                                    }
                                    &:nth-of-type(2){
                                        text-align: center;
                                        flex-grow: 1;
                                        flex-shrink: 0;
                                    }
                                    &:nth-of-type(3){
                                        width: 21.1%;
                                        flex-grow: 0;
                                    }
                                }
                            }
                        }
                        &:nth-of-type(2){/*NOTA: Lista Funcional*/
                            >div{
                                > div{
                                    /* line-height: 150%; */

                                    &:nth-of-type(1){
                                        flex-shrink: 0;
                                        flex-grow: 0;
                                        line-height: 100%;
                                        letter-spacing: initial;
                                        font-size: 4.5vw;
                                        font-family: Consolas;
                                    }
                                    &:nth-of-type(2){
                                        width: initial;
                                        white-space: nowrap;
                                        font-size: 4.2vw;
                                        font-family: Calibri;
                                        font-weight: lighter;
                                        flex-grow: 1;
                                    }
                                    &:nth-of-type(3){
                                        font-size: 3.9vw;
                                        flex-shrink: 0;
                                        flex-grow: 0;
                                        font-family: Calibri;
                                        letter-spacing: initial;
                                    }
                                }
                            }
                        }
                        &:nth-of-type(3){/*NOTA: Lista Falsa*/
                            > div{
                                height: 7vw;
                                display: none;
                                &:nth-of-type(1){
                                    height: 7.5vw;
                                    opacity: 0;
                                }
                            }
                        }
                        &:nth-of-type(4){/*NOTA: Linha Final*/
                            >div{
                                &:nth-of-type(1){
                                    width: 14%;
                                    flex-grow: 0;
                                }
                                &:nth-of-type(2){
                                    width: 22%;
                                    /* height: 7vw; */
                                    line-height: 150%;
                                    font-size: 3.5vw;
                                    flex-grow: 0;
                                }
                            }

                            > button{
                                &:nth-of-type(1){
                                    width:fit-content;
                                    flex-grow: 1;
                                    font-size: 5vw;
                                }
                            }
                        }
                    }
                }

                &:nth-of-type(2){/*NOTA: Nota Fiscal*/
                    > div{
                        > p{
                            font-size: 4vw;

                            &:nth-of-type(1){
                                flex-shrink: 0;
                                text-align: right;
                                font-family: Consolas;
                                font-weight: bold;
                                font-size: 3.5vw;
                            }
                            &:nth-of-type(2){
                                width: initial;
                                flex-grow: 1;
                                font-size: 3.7vw;
                                font-weight: lighter;
                                font-family: Calibri;
                            }
                            &:nth-of-type(3){
                                width: 25%;
                                flex-shrink: 0;
                                letter-spacing: -0.5vw;
                            }
                        }
                        &:nth-of-type(1){/*> categorias*/
                            >p{
                                font-size: 4.3vw;
                                font-family: 'Courier New', Courier, monospace;

                                &:nth-of-type(3){
                                    &::after{
                                        font-size: 2.5vw;
                                        white-space: nowrap;
                                        line-height: initial;
                                    }
                                    letter-spacing: initial;
                                }
                            }
                        }

                        &:last-of-type{/*> Resumo Final*/
                            > div{
                                &:nth-of-type(1){
                                    font-size: 4vw;
                                    font-weight: bold;
                                }
                                &:nth-of-type(2){
                                    font-size: 5vw;
                                    font-style: italic;
                                }
                            }
                        }
                    }
                }
            }
            &::-webkit-scrollbar{
                width: 0.3vw;
            }
        }

        .mn-mn{
            position:fixed;
            top: 100vh;
            left: 0;
            z-index: 25;
            background-color: var(--DocumentColor);
            transition: all ease-in-out 0.2s;

            > button{
                align-items: center;
                margin: 10vw auto;
                font-size:5.5vw;
                font-family: Consolas, 'Courier New', Courier, monospace;
            }
            
            > div{
                &:nth-of-type(1){
                    margin-top: 16vw;

                    >button{
                        font-size: 7.5vw;
                        margin:0 3.5vw;
                    }
                    &::before{
                        padding: 1vw 2vw;
                        font-size: 5.5vw;
                        top: -7.5vw;
                    }
                }

                &:nth-of-type(2){
                    width: 95%;
                    margin: 0 auto;

                    > div{
                        margin-bottom: 2.5vw;
                        padding: 0.5vw;
                        padding-bottom: 0;

                        > div{
                            >h1{
                                padding: 1vw 0;
                                font-size: 5.5vw;
                                text-align: center;
                            }

                            >h3{
                                &:nth-of-type(1){
                                    margin: 0.5vw 0;
                                    font-size: 7vw;
                                    text-align: center;
                                    font-weight: bold;
                                }
                                &:nth-of-type(2){
                                    margin: 0;
                                    padding: 0;
                                    padding-right: 20%;
                                    text-align: right;
                                    font-weight: lighter;
                                    font-size: 5vw;
                                    font-family: Consolas, 'Courier New', Courier, monospace;
                                    >b{
                                        font-size: 5.5vw;
                                        font-family: 'Courier New', Courier, monospace;
                                        font-weight: bold;
                                        -webkit-text-stroke: 0.1vw var(--DefaultTexts);
                                    }
                                }
                            }
                            >h4{
                                font-size: 4vw;
                            }
                            >p{
                                width: fit-content;
                                position: relative;
                                margin: 0 auto;
                                padding: 0.5vw 4%;
                                text-align: center;
                                font-size: 4.5vw;
                                font-family: Calibri, Consolas;
                                text-transform: capitalize;
                                color: var(--ListColor);

                                >b{
                                    font-family: 'Courier New', Courier, monospace;
                                    font-size: 5.3vw;
                                }

                                &::before{
                                    content: '';
                                    position: absolute;
                                    inset: 0;
                                    z-index: -1;
                                    border-radius: 2vw 2vw 0 0;
                                    background-color: var(--DefaultTexts);
                                    mask-image: url(https://i.imgur.com/jL8WK0C.png);
                                    mask-size: auto 5000%;
                                    mask-position: center right;
                                    mask-mode: luminance;
                                }
                            }
                        }

                        &.pc-sel{/*VAR: Se A Lista Estiver Selecionada*/
                            &::before{
                                font-size: 5.5vw;
                                text-align: center;
                            }

                            >div{
                                &::before{
                                    font-size: 5vw;
                                }
                                &::after{
                                    font-size: 5vw;
                                    mix-blend-mode:lighten;
                                }
                            }
                        }
                    }
                }
            }

            &.slide-In{
                top: 0vh;
            }
            .m-bck{
                display: initial;
            }
        }
    }
    .add-tb{/*CREATE: Adicionar um novo item a Lista*/
        align-items: start;
        >div{/*VAR: Tab e ClickTrap*/
            &:nth-of-type(1){/*APPEND: Area da Tab*/
                width: 100vw;
                margin-top: 3vh;

                >h1{/*> Titulo da Guia*/
                    font-size: 7vw;
                    padding: 2vw 0 0;
                    color: var(--GhostedColor);
                }

                > div{

                    &:nth-of-type(1){/*NOTA: Area De Formulario*/

                        > div{ /*> Caida do Ponto De Preenchimento*/
                            > h2{ /*> Titulo Em Foco*/
                                font-size: 7vw;
                                color: var(--GhostedColor);
                            }

                            > input{
                                font-size: 7vw;
                            }

                            > div{ /*> Botões das Fields individuais do formulario*/
                                height: 6.5vw;
                                > button{
                                    font-size: 4.7vw;

                                    &:nth-of-type(2){
                                        position: absolute;
                                        /* right: 8.5%; */
                                        bottom: 0;
                                        margin-left: 7vw;
                                    }

                                    &:nth-of-type(4){
                                        left: 26%;
                                    }
                                    &:nth-of-type(3){
                                        position: absolute;
                                        padding: 0.9vw 2.2vw;
                                        font-size: 5vw;
                                        bottom: 0;
                                        right: 0;
                                    }
                                }
                            }

                            &:nth-of-type(1){/*VAR: Preencher o nome*/
                                > section{/*NOTA: Recomendação de Items*/
                                    max-height: 30vh;
                                    scroll-padding: 2vw;
                                    scroll-snap-type: y mandatory;
                                    overscroll-behavior: contain;
    
                                    > div{/*> Linha de recomendação*/
                                        scroll-snap-align: center;
  
                                        > div{/*Append: Icone, Nome e Caixa com comparadores*/
    
                                            &:nth-of-type(1){/*> Icone*/
                                                width: 15%;
                                            }
                                            &:nth-of-type(2){/*> Nome Da recomendação*/
                                                font-size: 4.2vw;
                                                white-space: nowrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;

                                                &:hover{
                                                    white-space: initial;
                                                    overflow: visible;
                                                    word-break: break-all;
                                                }
                                            }

                                            &:nth-of-type(3){/*APPEND: Caixa do comparador*/

                                                > div{/*> Max e Min*/

                                                    > p{/*Textos no geral*/
                                                        font-size: 3.4vw;
                                                    }
                                                }
                                            }
                                        }

                                        &:hover{
                                            background-color: var(--DocumentInversor);
                                        }
                                    }
                                }
                            }

                            &:nth-of-type(3){/*VAR: Preencher preço*/
                                >input{
                                    padding-top: 3vw;
                                    padding-left: 2ch;
                                    font-size: 7vw;
                                }

                                >div{/*> Botões*/

                                    >button{
                                        z-index: 5;

                                        &:nth-of-type(2){
                                            position: relative;
                                            z-index: 5;
                                        }
                                    }

                                    > section{/*> Preço Ja Calculado*/
                                        max-width: 10ch;
                                        padding: 0.5vw 0.4vw;
                                        font-size: 4.2vw;
                                        line-height: 150%;
                                        font-family: 'Courier New', Courier, monospace;
                                        letter-spacing: -0.3vw;
                                        z-index: 0;

                                        &.ed-md{
                                            right: 8.5%;
                                        }
                                    }
                                }

                                &::before{
                                    position: absolute;
                                    bottom: 1vw;
                                    margin-left: 1.2vw;
                                    font-size: 5vw;
                                }
                            }

                            &.inFocus{

                                &:nth-of-type(3){

                                    > input{
                                        padding-top: 8vw;
                                        padding-left: 0;
                                    }
                                }
                            }

                        }
                    }

                    &:nth-of-type(2){/*NOTA: Area Dos Botões*/
                        
                        > button{
                            font-size: 4vw;
                            margin-left: 2vw;
                        }
                    }
                }
            }

            &:nth-of-type(2){/*> Click Trap*/
                background-color: #000A;
            }
        }
    }

    .m-btn{
        position: fixed;
        bottom: 5%;
        left: 50%;
        display: initial;
        transform: translate(-50%, 0%);
        z-index: 11;
        transition: left ease-in-out 0.2s;

        > div{
            user-select: none;
            &:nth-of-type(1){/*APPEND: Botões De Ação (Abrir Botões)*/
                width: 10vw;
                height:10vw;
                position: relative;
                z-index: 5;
                opacity: 0.7;
                border-radius: 50%;
                border: none;
                box-shadow: 0.3vw 0.4vw 1vw #000;
                font-size: 5vw;
                transition: all ease-in-out 0.1s, opacity ease-in-out 0.2s 0.4s, transform ease-in-out 0.3s 0.4s;

                &:hover{
                    opacity: 1;
                }
                > button{
                    position: absolute;
                    inset: 0;
                    border: none;
                    border-radius: 50%;
                    background-color: #FAD;

                    &::before{
                        content: '';
                        position: absolute;
                        inset: 0;
                        z-index: 2;
                        background-image: url(https://i.imgur.com/OMWIW3D.png);
                        background-size: 80% 80%;
                        background-repeat: no-repeat;
                        background-position: center;
                        filter: drop-shadow(0vw 0vw 0.6vw #000);
                        transition:transform ease-in-out 0.2s, background-image linear 0.1s;
                    }
                }

                &.pls-cls{
                    opacity:1;
                    >button{
                        background-color: #333;

                        &::before{
                            background-image: url(https://i.imgur.com/OMWIW3D.png);
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            &:nth-of-type(n+2){/*APPEND: Botões De Ação (Abrir Menu/Configurações)*/
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: 2;
                transition: all ease-in-out 0.2s, opacity ease-in-out 0.4s 0.3s;
                
                &.act-vw{
                    transition: all ease-in-out 0.2s 0.3s, opacity ease-in-out 0.4s 0s;
                }

                
                >button{
                    position: absolute;
                    inset: 0;
                    border-radius: 0.9vw;
                    border: none;
                    box-shadow: 0.3vw 0.4vw 1.5vw #000;
                    background-color: #c0aed9;

                    &::before{
                        content:'';
                        position: absolute;
                        inset: 0;
                        background-size: 90% 90%;
                        background-position: center;
                        background-repeat: no-repeat;
                        filter: drop-shadow(0.2vw 0.2vw 0.7vw #000);
                    }
                }
            }

            &.cfg-m{/*var: Botão de Configurações*/
                width: 10vw;
                height: 10vw;
                top: initial;
                bottom: 0;
                pointer-events: none;

                &.act-vw{
                    bottom: 0;
                    left:25vw;
                    opacity:0.6;
                }
                
                >button{
                    background-color: #8bb9f2;

                    &::before{
                        background-image: url(https://i.imgur.com/1eO3A1I.png);
                    }
                }
            }
            &.bc-m{/*var: Botão de Menus*/
                width: 10vw;
                height: 10vw;
                pointer-events: none;
                
                >button{
                    background-color: #c0aed9;

                    &::before{
                        background-image: url(https://i.imgur.com/MWeCFnZ.png);
                    }
                }

                &.act-vw{
                    top:-20vw;
                    opacity:0.6;
                }
            }

            &.sel-ch{/*> Botões quando estão selecionados*/
                animation:push 1s ease-in-out infinite;

                >button{
                    animation: bubble 1s ease-in-out infinite;
                }

                &.act-vw{
                    opacity:1;
                }
            }

            > button{
                position: absolute;
                inset: 0;
            }
        }
        &.act{ /*> Ao habilitar botões*/
            >div{
                &:nth-of-type(1){
                    opacity:1;
                    transform: scale(1.5);
                    transition: all ease-in-out 0.1s, opacity ease-in-out 0.05s 0s;

                    >button{
                        background-color: var(--ButtonColor);
                        &::before{
                            background-image: var(--PlusState);
                            transform:rotate(var(--TouchPos));
                        }
                    }
                }
            }
        }
    }

    .add-local{
        width: 100%;
        height: 100vh;
        align-items: center;
        z-index: 200;

        
        >div{
            &:nth-of-type(1){
                width: 100%;

                > h1{
                    font-size: 6vw;
                    color: var(--SmoothTagGreen);
                }

                > div{
                    &:nth-of-type(1){   /*VAR: Formulario*/
                        > input{/*> Nome Da Lista*/
                            font-size: 4.5vw;
                            text-align: center;
                        }

                        > p{/*> Descrição da Lista*/
                            width: 70%;
                            font-size: 3vw;
                            font-family: Consolas;
                            letter-spacing: initial;
                            &::before{
                                font-size: 3.5vw;
                                font-weight: bold;
                            }
                        }
                    }

                    &:nth-of-type(2){/*> Cores e Stamp*/
                        > input{
                            width: 10vw;
                            height: 7vw;
                            box-shadow: 0.2vw 0.2vw 1.6vw #000;
                        }
                        > p{
                            font-size: 3vw;
                            font-family: 'Consolas', 'Courier New', Courier;
                            text-transform: uppercase;
                        }
                    }

                    &:nth-of-type(3){/*> Botões de ação*/
                        > button{
                            font-size: 5vw;
                            font-family: Consolas, 'Courier New', Courier, monospace;

                            &:nth-of-type(3){/*VAR: Botão Remover*/
                                padding: 1vw 2vw;
                                font-size: 5vw;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(2){
                background-color: #000D;
                backdrop-filter: blur(0.9vw);
            }
        }
    }
}

.debug{
    min-width: 10vw;
    min-height: 10vw;
    position: fixed;
    top:0;
    right: 2%;
    padding:0 0.5vw ;
    z-index: 500;
    outline: 1px dashed #58F;
    background-color: #0009;
    pointer-events: none;
    color: #FFF;

    > p{
        font-size: 2vw;
        white-space: nowrap;

        >span{

            display: inline-block;
        }
    }
}

@keyframes push{
    50%{transform: scale(1.2);}
}

@keyframes bubble{
    50%{transform: rotate(10deg);}
}