@font-face{
  font-family:EnterCommand;
  src:url(https://novaordemmundial.github.io/design/fonts/EnterCommand.ttf);
}

:root{
  --detailsView:none;
}
#menuGuide{
  width:100% !important;
  backdrop-filter:blur(0.6vw);
  background:#0009;
  box-shadow:0.15vw 0.15vw 0.6vw #000;
}
.deactBtn:hover{
  filter:none !important;
}
.deactBtn{
  color:#000 !important;
  text-shadow:0 0 0.5vw #FFF8;
  background-clip:text;
  -webkit-background-clip:text;
}
.activBtn:hover{
}
#leftMenuButtons ul:hover, #rightMenuButtons ul:hover{
  transform:none !important;
  padding-top:0.1vw !important;
}
#liveBtn:before{
  content:'<';
  transition:all ease-in-out 0.2s;
}
#liveBtn:hover:before{
  content:'<';
  margin:0 0.6vw 0 0;
}
#liveBtn:hover{
  color:#CCF;
  text-shadow:0 0 1vw #17F, 0 0 0.5vw #17F;
  border-bottom-color:#CCF !important;
  box-shadow:inset 0 -0.7vw 0.6vw -0.6vw #17F, 0 0.6vw 0.6vw -0.6vw #17F;
}

body{
  position:relative;
  top:0;
  background-image:linear-gradient(10deg, #080808, #111) !important;
  background-size:100% auto !important;
  z-index:5;
}

body::-webkit-scrollbar{
  width:0.6vw;
  background:#000;
}
body::-webkit-scrollbar-thumb{
  border-radius:10px;
  background:#CCC;
}

/* #menuGuide{
  height:2.5vw !important;
}
#menuButton{
  width:4vw !important;
  position:relative;
  top:-0.7vw;
} */

/*Estrutuda 1*/
#corpo2{
/*   background:#50505015 !important; */
  justify-content:center;
  z-index:5;
/*   border:solid 1px #458; */
  text-align:center;
}



#contentGuide{
  max-width:90%;
  height:;
  padding-top:1.5vw;
  margin:0 auto;
  text-align:center;
/*   border:dashed 3px #444; */
}
#contentGuide::-webkit-scrollbar{
  width:0.4vw;
  background:#000;
}
#contentGuide::-webkit-scrollbar-thumb{
  background-image:linear-gradient(0deg, #0000 20%, #58F, #0000 80%);
}

#contentGuide div{
  width:20vw;
  height:31vw;
  display:inline-block;
  background-size:100% auto;
  background-position:top center;
  background-repeat:no-repeat;
  border-radius:0.6vw;
  margin:0.3vw 0.6vw;
  text-align:center;
  cursor:pointer;
  transition:all ease-in-out 0.2s;
}

#contentGuide div::after{
  content:' ';
  width:20vw;
  height:31vw;
  position:absolute;
  margin:0vw -19.4vw;
  background-image:var(--beforeBackground);
  background-size:100% auto;
  background-position:top center;
  background-repeat:no-repeat;
  border-radius:0.6vw;
  z-index:10;
  pointer-events:none;
}
#contentGuide div::before{
  content:' ';
  width:20vw;
  height:31vw;
  position:absolute;
  margin:0vw 0vw;
  background-image:var(--beforeBackground);
  background-size:100% auto;
  background-position:top center;
  background-repeat:no-repeat;
  border-radius:0.6vw;
  filter:blur(10px);
  opacity:0;
  transition:all ease-in-out 0.15s;
}

#contentGuide div:hover::before{
  opacity:1;
  display:block;
}

#contentGuide div:hover{
  backdrop-filter:blur(5px);
}

#contentGuide div div{
  width:94%;
  height:59%;
  background:#FFFA;
  position:relative;
/*   box-shadow:inset 0vw 0vw 0.5vw #000; */
  overflow-y:auto;
  box-shadow:0px 0px 5px #0005;
  backdrop-filter:blur(0.25vw) contrast(290%) brightness(180%) hue-rotate(190deg);
  border:none;
  margin:60% auto 0;
  color:#000;
  z-index:11;
}
#contentGuide div div::-webkit-scrollbar{
  width:0.2vw;
  background:#1115;
}
#contentGuide div div::-webkit-scrollbar-thumb{
  background:#FFF5;
}
#contentGuide div div::before{
  content:none;
  display:none;
}
#contentGuide div div::after{
  content:none;
  display:none;
}
#contentGuide div div:hover{
  z-index:11;
}

#contentGuide div button{
  position:absolute;
  padding:0.2vw 0.5vw;
  border:none;
  border-radius:0% 0% 10% 10%;
  font-weight:bold;
  font-family:Gumela;
  font-size:1.2vw;
  z-index:11;
  cursor:help;
}

.appStatus{
  margin:0vw 0vw 0 -19vw;
  background:#5F5;
  box-shadow:0 0 8px #0F0;
  text-shadow:0 0 5px #0F0;
  color:#020;
}
.appStatus:before{
  content:'Novo';
}
.haveAd{
  margin:0vw 0vw 0 -2.5vw;
  background:#FF5;
  box-shadow:0 0 8px #FF0;
  text-shadow:0 0 5px #FF0;
  color:#220;
}
.haveAd:before{
  content:'Ad';
}
.isDemo{
  margin:0vw 0vw 0 -14.5vw;
  background:#F55;
  box-shadow:0 0 8px #F00;
  font-size:1.2vw !important;
  text-shadow:0 0 5px #F00;
  color:#200;
}

.isDemo:before{
  content:'DEMO';
}

.mStatus:before{
  content:'Mobile';
}
.mStatus{
  margin-left:-7.5vw;
  box-shadow:0 0 15px #46F;
  background:#58F;
  text-shadow:0 0 8px #46F;
  color:#004;
}

#contentGuide div p{
  font-size:1.3vw;
  margin:0.2vw;
  color:#000D;
  font-family:Calibri;
  text-align:left;
  text-shadow:0.8px 0.8px 1px #0005;
}
#contentGuide div h1{
  margin:0vw 0 0.1vw;
  padding:0.2vw 0;
  position:sticky;
  top:0;
  background:#0009;
  backdrop-filter:invert(100%) blur(5px);
  box-shadow:1px 1px 5px #000;
  font-size:1.5vw;
  font-family:Gumela;
  font-weight:lighter;
  color:#FEFD;
  text-shadow:1px 1px 2px #0005;
}
#contentGuide div h2{
  margin:0;
}
#contentGuide div h3{
  margin:0.5vw 0 0.1vw;
  font-size:0.84vw;
  font-family:Verdana;
  font-weight:lighter;
  color:#258;
  text-align:right;
  text-shadow:-0.3px -0.3px 1px #0006;
  font-style:italic;
}

/*Mobile*/

#mobileGuide{
  width:100%;
  padding-top:9vw;
  display:none;
}
#mobileGuide div{
  width:95%;
  margin:3vw auto 0;
/*   background-image:var(--BackgroundMobile); */
  background-blend-mode: overlay;
  background-position:left top;
  background-size:100% auto;
  display:flex;
  justify-content:flex-end;
  border-radius:1.5vw;
  cursor:pointer;
  position:relative;
  z-index:12;
}
#mobileGuide div::before{
  content:' ';
  width:99%;
  height:95%;
  position:absolute;
  border-radius:1.5vw;
  background-image:var(--BackgroundMobile);
  background-position:left top;
  background-size:100% auto;
  z-index:10;
  transition:all ease-in-out 0.2s;
}
#mobileGuide div::after{
  content:' ';
  width:98.5%;
  height:94%;
  position:absolute;
  border-radius:1.5vw;
  border:solid 1px #FFF;
  box-shadow:0 0 8px #FFF, inset 0 0 8px #FFF;
/*   border-image:var(--BackgroundMobile);
  border-image-slice:50;
  border-image-repeat: stretch; */
  pointer-events:none;
  backdrop-filter:blur(7px);
  opacity:0;
  z-index:13;
  transition:all ease-in-out 0.2s;
}

#mobileGuide div:focus::after{
  opacity:1;
}
#mobileGuide div:focus::before{
  opacity:0;
}


#mobileGuide div button{
  width:5.5vw;
  border:none;
  position:absolute;
  padding:0vw 0;
  margin-left:0.9vw;
  border-radius:0% 15% 15% 0;
  left:0;
  font-size:5vw;
  font-family:Gumela;
  font-weight:bold;
  z-index:50;
}

.mNew:before{
  content:'N';
}
.mNew:hover::before{
  content:'Novo';
}
.mNew:hover{
  width:auto !important;
  padding:0 1vw !important;
  z-index:51 !important;
}
.mNew{
  margin-top:0.9vw;
  box-shadow:0 0 8px #3F3;
  background:#8F8;
  color:#030;
  text-shadow:0 0 6px #3F3;
}

.mAds:before{
  content:'AD';
}
.mAds{
  margin-top:7.9vw;
  padding:0.8vw 0.35vw !important;
  box-shadow:0 0 8px #FF3;
  background:#FF8;
  font-size:3.8vw !important;
  color:#330;
  text-shadow:0 0 6px #FF3;
}

.mDemo:before{
  content:'DEMO';
}
.mDemo{
  width:auto !important;
  margin-top:0.3vw;
  margin-left:10vw !important;
  padding:0 1vw!important;
  box-shadow:0 0 8px #F33;
  border-radius:0vw 0vw 1vw 1vw !important;
  background:#F99;
  font-size:3.5vw !important;
  color:#300;
  text-shadow:0 0 6px #F33;
}

.mMobile:before{
  content:'M';
}
.mMobile:hover{
  width:auto !important;
  padding:0 1vw !important;
}
.mMobile:hover::before{
  content:'Mobile';
}
.mMobile{
  margin-top:15.4vw;
  box-shadow:0 0 8px #33F;
  background:#8AF;
  color:#004;
  text-shadow:0 0 6px #33F;
}

#mobileGuide div div{
  width:70%;
  height:25vw;
  margin:0.5vw 1vw 2vw;
  overflow:auto;
  box-shadow:1px 1px 5px #000;
  background:#111C;
  background-image:none;
  backdrop-filter:blur(5px) hue-rotate(200deg);
  border-radius:0.5vw;
  display:initial;
  user-select:none;
  cursor:help;
}
#mobileGuide div div::-webkit-scrollbar{
  width:0.5vw;
  background:#FFF;
}
#mobileGuide div div::-webkit-scrollbar-thumb{
  background:#000;
}

#mobileGuide div div::before{
  content:none;
  display:none;
}
#mobileGuide div div::after{
  content:none;
  display:none;
}

#mobileGuide div div h1{
  position:sticky;
  top:0vw;
  margin:0vw 0 0.3vw;
  padding:0.5vw 0;
  background:#05050598;
  backdrop-filter:blur(7px) invert(20%);
  box-shadow:1px 1px 3px #000;
  font-size:5vw;
  font-family:Gumela;
  font-weight:lighter;
  color:#EEE;
}
#mobileGuide div div h3{
  margin:2vw 0 0;
  font-size:3.7vw;
  font-family:EnterCommand;
  font-weight:lighter;
  text-align:right;
  color:#8AF;
}
#mobileGuide div div p{
  margin:1vw;
  font-size:3.3vw;
  font-family:calibri;
  text-align:left;
  text-shadow:1px 1px 3px #000;
  color:#EEE;
}

/*Live Ad*/
#liveIs{
  width:63%;
/*   height:13.5vw; */
  margin:5vw auto 0;
  border-radius:0.6vw;
  background:#034;
  overflow:hidden;
  cursor:pointer;
  transition:all ease-in-out 0.3s;
}

#liveIs video{
  width:100%;
  pointer-events:none;
  filter:drop-shadow(0 0 5px #468);
  transition:all ease-in-out 0.3s;
  margin:0vw 0 -1.5vw;
}
#liveIs:hover{
  background:#328;
  box-shadow:0 0 15px #53F, inset 0 0 15px #53F;
}
#liveIs:hover > video{
  filter:drop-shadow(0 0 10px #F44);
}

@media(max-aspect-ratio:15/11){
  #corpo2{
    width:100%;
    margin:10vw 0 0;
  background-image:linear-gradient(200deg, #101010, #111) !important;
  }
  
  #contentGuide{
    height:80vh;
    display:none;
  }
  
  #content button{
    width:30vw;
    padding-top:43vw;
    margin:5vw 1vw 0;
  }
  
  #leftMenuButtons ul, #rightMenuButtons ul{
    font-size:2.75vw;
    font-weight:bold;
  }
  #leftMenuButtons{
    margin:0 2vw;
  }
  #rightMenuButtons{
    margin:0 1.8vw;
  }
  #menuGuide{
    height:3vw;
    padding-bottom:3.5vw;
  }
  #menuButton{
    width:7vw !important;
  }

  #mobileGuide{
    display:initial;
  }
  
  #liveIs{
    width:95%;
  }
}
