

#checkStatus::before{
  content:'👁';
  opacity:var(--confirmCheckOpacity, 1);
  transition:all 0.2s ease-in;
  animation-name:var(--passCheckIs, none);
  animation-duration:8s;
  animation-timing-function:ease-in-out;
  animation-play-state:var(--animationStateIs, paused);
  opacity:0;
}

@keyframes correct{
  0%  {content:'✔';}
  1% {content:'✘';}
  2% {content:'♚';}
  3% {content:'Φ'; opacity:1;}
  4% {content:'♔';}
  5% {content:'✿';}
  6% {content:'✧';}
  7% {content:'✔';}
  8% {content:'✈';}
  9% {content:'👁';}
  10% {content:'✖';}
  11% {content:'ꕥ';}
  12% {content:'✚';}
  13% {content:'⚇';}
  14% {content:'👁';}
  15% {content:'☀';}
  16% {content:'✘';}
  17% {content:'✿';}
  18% {content:'✧';}
  19% {content:'☂';}
  20% {content:'✘';}
  21% {content:'👁';}
  22% {content:'♞'; text-shadow:0 0 0vw #2F20; color:#999;}
  24% {content:'✔'; text-shadow:0 0 1vw #2F2; color:#9F9;}
  95% {content:'✔'; opacity:1; text-shadow:0 0 1vw #2F2; color:#9F9;}
  100%{content:'✔';}
}

@keyframes wrong{
  0%  {content:'✔';}
  1% {content:'✘';}
  2% {content:'♚';}
  3% {content:'♦'; opacity:1;}
  4% {content:'♔';}
  5% {content:'✿';}
  6% {content:'✧';}
  7% {content:'✔';}
  8% {content:'♡';}
  9% {content:'👁';}
  10% {content:'✖';}
  11% {content:'ꕥ';}
  12% {content:'✚';}
  13% {content:'♣';}
  14% {content:'👁';}
  15% {content:'☀';}
  16% {content:'✘';}
  17% {content:'♠';}
  18% {content:'✧';}
  19% {content:'☂';}
  20% {content:'✘';}
  21% {content:'👁';}
  22% {content:'♞'; text-shadow:0 0 0vw #F220; color:#999;}
  24% {content:'✘'; text-shadow:0 0 1vw #F22; color:#F99;}
  95% {content:'✘'; opacity:1; text-shadow:0 0 1vw #F22; color:#F99;}
  100%{content:'✘';}
}
