/*****|||||Pass de Usuario Animação||||||********/
#checkStatus:before{
  content:'A';
  color:#999;
  animation-name:var(--passCheckIs, none);
  animation-duration:8s;
  animation-timing-function:ease-in-out;
  animation-play-state:var(--animationStateIs, paused);
}
#checkStatus:hover{
  opacity:1;
}
#checkStatus:focus{
  opacity:1;
}

@keyframes correct{
  0%  {content:'✔';}
  1% {content:'C';}
  2% {content:'o';}
  3% {content:'R'; opacity:1 !important;}
  4% {content:'r';}
  5% {content:'E';}
  6% {content:'c';}
  7% {content:'T';}
  8% {content:'p';}
  9% {content:'A';}
  10% {content:'s';}
  11% {content:'S';}
  12% {content:'P';}
  13% {content:'e';}
  14% {content:'A';}
  15% {content:'X';}
  16% {content:'L';}
  17% {content:'U';}
  18% {content:'Q';}
  19% {content:'a';}
  20% {content:'L';}
  21% {content:'A';}
  22% {content:'e';}
  23% {content:'w'; text-shadow:0 0 0vw #2F20; color:#999;}
  24% {content:'K'; text-shadow:0 0 1vw #2F2; color:#9F9;}
  95% {content:'K'; opacity:1 !important; text-shadow:0 0 1vw #2F2; color:#9F9;}
  100%{content:'K';}
}

@keyframes wrong{
  0%  {content:'L';}
  1% {content:'K';}
  2% {content:'M';}
  3% {content:'N'; opacity:1;}
  4% {content:'O';}
  5% {content:'P';}
  6% {content:'Q';}
  7% {content:'R';}
  8% {content:'S';}
  9% {content:'A';}
  10% {content:'T';}
  11% {content:'U';}
  12% {content:'V';}
  13% {content:'W';}
  14% {content:'A';}
  15% {content:'X';}
  16% {content:'K';}
  17% {content:'Y';}
  18% {content:'Q';}
  19% {content:'a';}
  20% {content:'L';}
  21% {content:'A';}
  22% {content:'b'; text-shadow:0 0 0vw #F220; color:#999;}
  24% {content:'L'; text-shadow:0 0 1vw #F22; color:#F99;}
  95% {content:'L'; opacity:1; text-shadow:0 0 1vw #F22; color:#F99;}
  100%{content:'L';}
}

/*Botão Sacrificar Tudo*/

#SacrificeALL::before{
  animation-name:var(--sacrificeAnimation, none);
  animation-duration:2s;
  animation-iteration-count:infinite;
}

@keyframes sacrificeRotate{
  10%{content:'B';}
  20%{content:'C';}
  30%{content:'D';}
  40%{content:'E';}
  50%{content:'F';}
  60%{content:'G';}
  70%{content:'H';}
  80%{content:'I';}
  90%{content:'J';}
}


/*==========Tela de Secret============*/
.secretText1{
  animation-play-state:1s;
  animation-name:textFade;
  animation-duration:1s;
  animation-delay:0s;
  animation-timing-function:ease-in-out;
}
.secretText2{
  animation-play-state:1s;
  animation-name:textFade;
  animation-duration:1s;
  animation-delay:0.3s;
  animation-timing-function:ease-in-out;
}
.secretText3{
  animation-play-state:1s;
  animation-name:textFade;
  animation-duration:1s;
  animation-delay:0.6s;
  animation-timing-function:ease-in-out;
}
.secretText4{
  animation-play-state:1s;
  animation-name:textFade;
  animation-duration:1s;
  animation-delay:0.9s;
  animation-timing-function:ease-in-out;
}
.secretText4{
  animation-play-state:1s;
  animation-name:textFade;
  animation-duration:1s;
  animation-delay:1.2s;
  animation-timing-function:ease-in-out;
}

@keyframes textFade{
  0%{opacity:0;}
  10%{opacity:0;}
  100%{opacity:1;}
}


/*GiveYouUp BUtton*/
body{
  background:black;
}
.GiveYouUp{
  animation:giveyouup 0.5s step-end infinite;
  animation-direction: reverse;
  overflow:hidden;
}
.GiveYouUp:before{
    content: "";
    position:absolute;
    width: 50%;
    height: 150%;
    top: -30%;
    left: 25%;
    z-index:-1;
    border-radius:100%;
    background: none;
    background-image:conic-gradient( #F155, #1F55, #51F5, #F715);
    transform: rotate(0deg) scale(2);
    animation:tester linear 1s infinite;
    filter:blur(0.2vw) ;
    opacity: 0.4;
}

@keyframes giveyouup{
  0%{color:#F99; text-shadow:0 0 1vw #F33;}
  20%{color:#9F9; text-shadow:0 0 1vw #3F3;}
  40%{color:#FF9; text-shadow:0 0 1vw #FF3;}
  60%{color:#99F; text-shadow:0 0 1vw #33F;}
  80%{color:#F98; text-shadow:0 0 1vw #F83;}
  100%{color:#98F; text-shadow:0 0 1vw #63F;}
}

@keyframes tester{
  0%{transform: rotate(0deg) scale(2);}
  100%{transform: rotate(360deg) scale(2);}
}
