@font-face{
  font-family:EnterCommand;
  src:url(https://novaordemmundial.github.io/design/fonts/EnterCommand.ttf);
}
:root{
  --VidaAtual:100%;
}
body{
  background:#0000;
}
.corpo{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:flex;
/*   align-items:flex-end; */
  justify-content:center;
/*   border:dashed 3px #F58; */
}

#fundo{
  width:856px;
  height:220px;
  background:url(https://i.imgur.com/z95zJ1e.png);
  background-size:100%;
/*   border:dotted 1px #157; */
  z-index:5;
}

#borda{
  width:856px;
  height:220px;
  position:absolute;
  background:url(https://i.imgur.com/US7RdKj.png);
  background-size:100%;
  z-index:15;
}

#barras{
  width:78.5%;
  position:relative;
  left:12%;
/*   border:solid 1px #08F; */
  z-index:1;
}
#barras h2{
  color:#FFF;
  position:absolute;
  z-index:85;
  margin:65px 0px 0 45px;
  font-family:'Doppio One';
  font-weight:lighter;
  font-size:36px;
  text-shadow:1px 1px 5px #000;
}
#barras h4{
  position:absolute;
  right:10px;
  top:15px;
  color:#FFF;
  font-size:42px;
  text-shadow:1px 1px 5px #000;
  font-family:EnterCommand;
  font-weight:lighter;
  z-index:35;
}

#barras div{
  left:20px !important;
/*   border:dashed 1px #182; */
  position:absolute;
}

#barras img{
  width:856px;
  position:relative;
  left:-105px;
  top:0;
  
}

#vazia img{
  filter:invert() saturate(10%) contrast(120%) brightness(20%) hue-rotate(260deg);
  left:-120px;
}

#cheia{
  width:var(--VidaAtual);
  height:66px;
  overflow:hidden;
/*   border:dotted 1px #F00; */
  transform:skewX(30deg);
  top:49px;
  transition:all ease-in-out 1s;
  box-shadow:1px 1px 5px #000;
}
#cheia img{
  transform:skewX(-30deg);
  left:-140px;
  top:-49px;
}
#vermelha{
  width:var(--VidaAtual);
  height:66px;
  overflow:hidden;
  transform:skewX(30deg);
  top:49px;
  transition:all ease-in-out 1s 3s;
  filter:invert() hue-rotate(-90deg) contrast(190%) brightness(80%);
  box-shadow:25px 0px 15px -5px #95F8, 1px 1px 5px #FFF;
}
#vermelha img{
  transform:skewX(-30deg);
  left:-140px;
  top:-49px;
/*   filter:blur(2px); */
}
#subtitle{
  width:100%;
  height:100%;
  background:url(https://i.imgur.com/dhzHf17.png);
/*   border:dashed 1px #F28; */
}

#subtitle div{
  width:100%;
  height:100%;
}
#lifecount{
/*   border:dashed 1px #9F1; */
  background:url(https://i.imgur.com/ORL9u93.png);
}
#lifecount1{
/*   border:dashed 1px #12F; */
  background:url(https://i.imgur.com/ORL9u93.png);
}

#botoes{
  bottom:0;
  left:45vw;
  position:fixed;
}
#botoes button{
  margin:0 0.5vw;
  font-family:EnterCommand;
  font-size:36px;
  font-weight:400;
  background:#111;
  border:none;
  cursor:pointer;
  transition:all ease-in-out 0.2s;
}

#botoes button:nth-child(1){
  color:#F89;
  text-shadow:0 0 8px #F01;
}

#botoes button:nth-child(2){
  color:#5F9;
  text-shadow:0 0 8px #0F1;
}

#botoes button:hover{
  background:#FFF;
  color:#000;
  text-shadow:1px 1px 5px #000;
}

#leftTab{
  width:20vw;
  background:#222;
  box-shadow:inset 1px 1px 6px #000;
  display:none;
}
#leftTab input{
  background:#000;
  border:none;
  margin:2px 0;
  color:#FFF;
  font-family:EnterCommand;
  font-size:22px;
}
