@font-face{
  font-family:EnterCommand;
  src:url(https://novaordemmundial.github.io/design/fonts/EnterCommand.ttf);
}

:root{
  --VidaAtual:100%;
}
body{
  background:#080808;
  display:flex;
  justify-content:center;
  color:#FFF;
}
#todo{
  width:856px;
  transform:scale(60%);
}
#corpo{
  width:856px;
  height:220px;
/*   border:dashed 1px #FFF; */
  background:url(https://i.imgur.com/z95zJ1e.png) no-repeat center;
  background-size:100%;
}
#border{
  width:856px;
  height:220px;
  background:url(https://i.imgur.com/US7RdKj.png);
  background-size:100%;
  position:absolute;
  z-index:5;
}
#barras{
  width:675px;
  height:220px;
  margin:0 0 0 140px;
  position:absolute;
/*   border:dashed 1px #049; */
  z-index:0;
}

#barras img{
  margin:0 0 0 -140px;
}

#vazia{
  width:;
/*   border:dotted 1px #91F; */
}
#vazia img{
  position:absolute;
  filter:invert() saturate(5%) hue-rotate(-40deg) contrast(160%) brightness(30%);
}

#vermelha{
  width:var(--VidaAtual);
  height:220px;
  overflow:hidden;
  transform:skewx(30deg);
  transition:all ease-in-out 1s 2s;
  position:absolute;
}

#vermelha img{
  position:absolute;
  filter:invert() saturate(65%) hue-rotate(-90deg) contrast(200%) brightness(80%) blur(2px);
  transform:skewx(-30deg);
}
#cheia{
  width:var(--VidaAtual);
  height:220px;
  overflow:hidden;
/*   border:dashed 1px #F01; */
  transform:skewx(30deg);
  transition:all ease-in-out 1s;
  position:absolute;
}
#cheia img{
  position:absolute;
  transform:skewx(-30deg);
}

#subtitulo{
  width:856px;
  height:220px;
  background:url(https://i.imgur.com/dhzHf17.png);
  position:absolute;
  z-index:1;
}



#lights{
  width:856px;
  height:220px;
  background:url(https://i.imgur.com/ORL9u93.png);
  position:absolute;
  z-index:2;
}


#barras h2{
  position:absolute;
  z-index:30;
  top:30px;
  font-size:38px;
  text-shadow:1px 1px 5px #000;
  font-family:Doppio One;
  font-weight:lighter;
  letter-spacing:3px;
}

#health{
  position:absolute;
  top:25px;
  right:60px;
  font-size:36px;
  font-family:EnterCommand;
  font-weight:lighter;
  text-shadow:1px 1px 5px #000;
}

#botoes{
  bottom:0;
  left:45vw;
  position:fixed;
  z-index:50;
}
#botoes button{
  margin:0 0.5vw;
  font-family:EnterCommand;
  font-size:36px;
  font-weight:400;
  background:#111;
  border:none;
  cursor:pointer;
  transition:all ease-in-out 0.2s;
}

#botoes button:nth-child(1){
  color:#F89;
  text-shadow:0 0 8px #F01;
}

#botoes button:nth-child(2){
  color:#5F9;
  text-shadow:0 0 8px #0F1;
}

#botoes button:hover{
  background:#FFF;
  color:#000;
  text-shadow:1px 1px 5px #000;
}

#leftTab{
  width:20vw;
  background:#222;
  box-shadow:inset 1px 1px 6px #000;
  display:none;
}
#leftTab input{
  background:#000;
  border:none;
  margin:2px 0;
  color:#FFF;
  font-family:EnterCommand;
  font-size:22px;
}
